<div class="col-md-4">
  <div id="sidebar" class="pt-2">
    <div
      class="p-4 mb-3 bg-body-tertiary text-center"
      style="background-image: url({{
        '/assets/images/section-background.jpg' | url
      }}); background-repeat: none; background-size:cover;"
    >
      <h4 class="text-white align-baseline">Forums</h4>
    </div>

    <div class="p-4 box">
      <h4>2011 DLF Forum</h4>

      <ul class="list-unstyled lh-lg">
        <li>
          <a title="2011 DLF Forum: Overview" href="{{ '/' }}">Overview</a>
        </li>
        <li>
          <a
            title="2011 DLF Forum: Call for Proposals"
            href="{{ '/call-for-proposals/' | url }}"
            >Call for Proposals</a
          >
        </li>
        <li>
          <a href="{{ '/sponsorship/' | url }}">Forum Sponsorship</a>
        </li>
        <li>
          <a title="2011 DLF Forum: Schedule" href="{{ '/schedule/' | url }}"
            >Schedule</a
          >
        </li>
        <li>
          <a href="{{ '/registration/' | url }}">Registration</a>
        </li>
        <li>
          <a href="{{ '/travel-accomodations/' | url }}"
            >Travel &amp; Accommodations</a
          >
        </li>
        <li>
          <a href="{{ '/2011-dlf-fall-forum-fellows/' | url }}"
            >2011 Forum Fellows</a
          >
        </li>
        <li>
          <a href="{{ '/forum-rideroom-share-board/' | url }}"
            >Forum Ride/Room Share Board</a
          >
        </li>
        <li>
          <a href="{{ '/participants/' | url }}">Participants List</a>
        </li>
      </ul>
    </div>

    <div class="p-4 my-4 box">
      <h4>2011 Program Committee</h4>
      <p>
        Charles Blair<br />
        Declan Fleming<br />
        Kevin Hawkins<br />
        Delphine Khanna<br />
        Bethany Nowviskie<br />
        David Reynolds<br />
        Jenn Riley<br />
        Melanie Schlosser<br />
        Sarah Shreeves<br />
        Joan Starr<br />
        Jennifer Vinopal<br />
        Melissa Wisner
      </p>
    </div>

    <div class="p-4 box">
      <h4>Related Links</h4>
      <ol class="list-unstyled">
        <li>
          <a href="https://www.github.com/clirdlf/forum2011.diglib.org/"
            >GitHub</a
          >
        </li>
        <li><a href="{{ site.twitter }}">Twitter</a></li>
        <li><a href="{{ site.facebook }}">Facebook</a></li>
      </ol>
    </div>
  </div>
</div>
