---
title: 'A Digital Library for Everyone: Designing for Collaboration and Innovation'
---

<p><em>Constellation B: Monday, October 31, 10:30AM – 12:00PM</em></p>
<p>
  From successful established regional portals like the Mountain West Digital
  Library to the ferment of activity around creating a Digital Public Library of
  America, digital libraries are growing larger in scale, and including a wider
  variety of partners and content. Many of us are engaged in “raising the big
  tent” to include not only libraries, but also museums, historical societies,
  archives, and government entities at all levels. Whether the goal is serving
  diverse audiences, improving access to diverse resources, or simply achieving
  sustainability in constrained economic times, the new directive is
  “Collaborate and innovate — or die.”
</p>
<p>
  Designing for collaboration and innovation raises some intriguing questions,
  such as:
</p>
<p>
  • When diverse memory institutions bring different perspectives, core needs,
  and even vocabularies to the table, how do we design collaborations for
  enthusiastic buy-in and commitment?
</p>
<p>
  • When the target demographic is “everyone,” rather than a specific user
  group, how can we design services for the range of needs that they have?
</p>
<p>
  • How do we not only maintain but actually improve the integrity and quality
  of digital resources and online services across many diverse memory
  institutions?
</p>
<p>
  • What opportunities are emerging for the “big tent” portals/repositories to
  present and even construct knowledge that were not available when the content
  was institution- or domain-specific?
</p>
<p>
  • Which aspects of management of digital resources should be distributed and
  which centralized? How do we maintain buy-in and appropriate governance while
  establishing efficient use of tools and processes?
</p>
<p>
  • What, if anything, do we stand to lose by raising the big tent? In politics,
  the critics of big tent parties argue that they alienate the ideological base
  of the party and diminish participation. In collaboratively raising a big tent
  digital library, what do we lose and what do we gain?
</p>
<p>
  To kick off the discussion, this team of public and academic librarians will
  present some of their experiences and suggestions for collaboration across
  diverse memory institutions. They will examine what is at stake for providers
  and audiences, and how to provide an environment for innovation for creating
  the big tent digital library. Then, they will open up discussion to collect
  the wisdom of the Forum’s participants by posing questions about selected
  topics.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_9978905">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="https://web.archive.org/web/20130529072823/http://www.slideshare.net/natenatenate/what-a-national-digital-library-means-for-public-libraries"
      title="What a National Digital Library means for Public Libraries"
      target="_blank"
      >What a National Digital Library means for Public Libraries</a
    ></strong
  >
  <iframe
    src="https://web.archive.org/web/20130529072823if_/http://www.slideshare.net/slideshow/embed_code/9978905"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    data-ruffle-polyfilled=""
  ></iframe>
  <div style="padding: 5px 0 12px">
    View more
    <a
      href="https://web.archive.org/web/20130529072823/http://www.slideshare.net/"
      target="_blank"
      >presentations</a
    >
    from
    <a
      href="https://web.archive.org/web/20130529072823/http://www.slideshare.net/natenatenate"
      target="_blank"
      >Nate Hill</a
    >
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Sandra McIntyre</strong> is Program Director of the Mountain West
  Digital Library, a program of the Utah Academic Library Consortium. She
  manages a regional network of 60 libraries, archives, museums, and other
  cultural heritage institutions who collaborate to create shared access to over
  350 digital collections about the Mountain West region via the search portal
  at http://mwdl.org. Previously she managed the Health Education Assets
  Library, a national portal of digitized health sciences education materials.
  She holds a bachelor’s degree in philosophy from Swarthmore College and a
  master’s in education from Georgia State University.
</p>
<p>
  <strong>Cheryl Walters</strong> is Head of Digital Initiatives at Utah State
  University Libraries. She has been active in regional collaboratives
  throughout her career, first as Interlibrary Loan Coordinator at University of
  Central Florida (1987-1995), then in Utah as Head of Cataloging (1999-2004)
  and in her present position (2004+), which includes serving as a regional hub
  manager for the Mountain West Digital Library Consortium. Born and raised in
  Baltimore, she graduated from University of South Florida with B.A. in History
  (1980) and M.L.I.S. (1987).
</p>
<p>
  <strong>Nate Hill</strong> is a web librarian at San Jose Public Library, a
  blog manager for the Public Library Association, and one third of influx.us: a
  library UX consultancy. Before moving to a wood-heated cabin in the Santa Cruz
  mountains, Nate lived and worked in Brooklyn, NY for 12 years. He’s passionate
  about the delivery of great library service, digital or physical, urban or
  rural, public or academic.
</p>
<p>
  <strong>Toby Greenwalt</strong> Toby Greenwalt is the Virtual Services
  Coordinator for Skokie (IL) Public Library. He oversees the organization’s web
  presence, and works to make the online experience more human. He blogs
  occasionally at theanalogdivide.com and tweets all too frequently as
  @theanalogdivide.
</p>
<p><strong>Michael Lascarides</strong> (New York Public Library)</p>
<p>
  <strong>Jefferson Bailey</strong> managed Brooklyn Public Library’s
  participation in the IMLS-funded Project CHART, a multi-institutional digital
  curation training and digitization initiative. He has also worked on digital
  projects for Frick Art Reference Library, Warner Music Group, The New York
  Times, and did archival work at NARA and NASA. He is current at the Library of
  Congress.
</p>
