---
title: Agile Methodology, Innovation, and Quality for Digital Library Projects
---

<p><em>Constellation D: Tuesday, November 1, 10:30AM – 12:00PM</em></p>
<p>
  Digital library software projects, like all software projects, face challenges
  balancing code quality with new feature development. Open source projects face
  some additional challenges: our code contributions come from a variety of
  institutions with a wide range of software development practices and
  experience. We also face higher risks: a problem in the software has the
  potential to affect not just one project, but dozens. But the rewards are also
  greater, as institutions share new functionality with each other.
</p>
<p>
  This presentation will discuss some of the strategies we use to address these
  challenges for the Blacklight and Hydra open source projects, as well as for
  internal Stanford Digital Library projects. We will discuss proven methods for
  producing robust and maintainable software, like test driven development,
  writing testable code, continuous integration, analysis artifacts like stories
  and fixtures, and other agile methodology practices. We will discuss why good
  methodology speeds up and eases the introduction of new features. Special
  attention will also be given to the social side of changing development
  practices, both inside an institution and across institutions. How do we
  enforce standards for voluntary contributions? How can we be firm in our
  commitment to quality, yet welcoming of contributions from newcomers?
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10029069">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/ndushay/agile-for-digital-library-projects"
      target="_blank"
      >Agile for digital library projects</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10029069"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/ndushay" target="_blank">ndushay</a>
  </div>
  <p></p>
</div>
<h2>Session Leader</h2>
<p><strong>Bess Sadler</strong> (Stanford University)</p>
