---
title: 'ArchivesSpace: An Open-Source, Next-Generation Archives Management System'
---

<p><em>Constellation D: Monday, October 31, 11:15AM – 12:00PM</em></p>
<p>
  Through generous support from the Andrew W. Mellon Foundation, New York
  University, the University of Illinois at Urbana-Champaign, and the University
  of California, San Diego, are partnering to develop software that will
  integrate Archon and the Archivists’ Toolkit (AT) into an open-source,
  next-generation archives management system. The integrated product—known by
  the working title ArchivesSpace will incorporate the best features and
  functions of Archon and the AT.
</p>
<p>
  ArchivesSpace will capitalize on the functional strengths of AT and Archon,
  both of which were released in 2006, to create a more powerful, flexible, and
  resilient archives collection management and access system. By design,
  ArchivesSpace will be built on a robust technical platform and sustainable
  business model and will appeal to an even broader segment of the archives
  community than either of the two existing tools.
</p>
<p>
  The design for ArchivesSpace is the result of a year of research and planning,
  also funded by the Mellon Foundation, by the three partner libraries in
  consultation with archivists and technologists from a variety of academic and
  archival institutions. The development team continues to seek input from the
  community through sessions such as this research update.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Mark A. Matienzo</strong> is the Technical Architect for ArchivesSpace
  and Digital Archivist in Manuscripts and Archives at the Yale University
  Library. He has taught as an adjunct faculty member at the iSchool at Drexel
  Universityand the Palmer School of Library and Information Science at Long
  Island University.
</p>
<p>
  As the Development Manger for ArchivesSpace,
  <strong>Katherine Kott</strong> provides day-to-day oversight for the project,
  including facilitating team communication, monitoring contractor activities,
  and coordinating project teams. Currently, she splits her time between the
  ArchivesSpace project and Stanford University Libraries, where she manages a
  range of digital library projects.
</p>
