---
title: Birds of a Feather Sign Up
---

<p>
  Birds of a Feather sessions will take place during lunch on Tuesday, November
  1st. This is an informal opportunity for participants to branch off and
  discuss topics in small groups. If you are interested in leading a Birds of a
  Feather session, please leave your name, contact information, and the topic
  you would like to discuss in the comments below. As topics come in, they will
  be posted on this page along with the name(s) of the discussion leader(s).
  Sign up will remain open through the morning of November 1st, and rooms will
  be assigned at the beginning of lunch.
</p>

<p><strong>Birds of a Feather Sessions</strong></p>
<li>Digital Humanities – Christa Williford, Angela Courtney, Tim Bryson</li>
<li>ID.LOC.GOV: Service Offerings + More – Kevin Ford</li>
<li>Historypin Tools – Jon Voss</li>
<li>
  Developing Mentoring &amp; Internship Opportunities for Digital Library
  Project Managers – Cathy Aster
</li>
<li>New Modes of Publishing – Shana Kimball</li>
<li>
  Variations on Video (VoV) IMLS Grant Project Discussion with Indiana,
  Northwestern and Hydra Partners – Stu Baker and Jon Dunn
</li>
