---
title: 'Born Digital: An Archival Approach'
---

<p><em>Constellation E: Monday, October 31, 4:15 – 5:00PM</em></p>
<p>
  “’Taking our Pulse’ [Dooley and Luce, 2010] summarized a 2009 survey of
  archives and special collections and found that born-digital materials are
  under-collected, under-counted, under-managed, unpreserved, and inaccessible.
  By the DLF fall forum, OCLC Research will have made significant progress on an
  activity to look at management of born-digital materials from an archivist’s
  perspective. One objective of this work is to help situate the role of special
  collections librarians and archivists within the spectrum of collaborators in
  the born-digital realm. What skills and experiences can archivists bring to
  bear that will help those in research libraries who are entrusted to manage
  born-digital materials? We’ve already completed an essay offering a definition
  of born digital and enumerating the widely divergent types of materials that
  are considered born digital. Another piece that has been competed is a
  proposed approach to getting digital content off of the various kinds of
  physical media, including both obsolete media and present day media. Among the
  next components will be a piece on the archival approach to born digital,
  beginning with assessment and continuing through to description, preservation,
  and access. An additional component of the work will be a piece that pulls
  together the best advice for responsible approaches to getting born-digital
  materials under basic, initial control – and presents it in a clear set of
  steps to help curators of born-digital materials act confidently. The timing
  of the DLF forum comes at a perfect point for us to get feedback on what’s
  been completed and get input on what else would be a useful contribution to
  the community.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_9978795">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/Jmdooley/jd-born-digital-to-dlf-20111031"
      target="_blank"
      >Jd born digital to dlf 20111031</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/9978795"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/Jmdooley" target="_blank">Jmdooley</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p><strong>Jackie Dooley</strong> (OCLC)</p>
<p><strong>Ricky Erway</strong>, non-presenting contributor (OCLC Research)</p>
