---
title: 'Business Case Planning for Research Support Services: A Progress Report'
---

<p><em>Constellation C: Tuesday, November 1, 11:15AM – 12:00PM</em></p>
<p>
  The library community has redescribed its roles in the information lifecycle
  by building on the extensive knowledge base we have developed through buying
  published research and organizing and archiving information. With a growing
  sense of urgency, libraries have defined publishing and archiving services as
  critical to 21st century research institutions, but dysfunctional in the
  current environment. Our research and IT colleagues trust Libraries to address
  these needs that cannot be readily met through existing publication channels
  or through the existing research infrastructure. But how do libraries
  effectively operate these services when both short- and long-term costs are
  not well understood?
</p>
<p>
  We will provide a research update on Business Cases for New Service
  Development in Research Libraries, a CLIR/DLF-funded research project to
  recommend methods for effective service planning in research libraries,
  adapting processes from the business as well as the not-for-profit sectors.
  Our research will examine how business planning methods can be applied in our
  not-for-profit contexts, and we will recommend some best practices that may be
  adopted. We will also research and write up to six case studies based on the
  development of campus-based publishing programs and research data management
  services. Our presentation at DLF will recap the goals of this project,
  present our planning model and outline our plans for case studies. We wish to
  solicit feedback on how our project can best meet the community’s needs.
</p>
<h2>Resources</h2>
<div style="width: 425px" id="__ss_10243602">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/mfurlough/business-case-planning-for-research-support-services"
      target="_blank"
      >Business Case Planning for Research Support Services</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10243602"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/mfurlough" target="_blank"
      >Mike Furlough</a
    >
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Mike Furlough</strong> is Associate Dean for Research and Scholarly
  Communications at Penn State University. Joining Penn State in 2006 from the
  University of Virginia, he leads content stewardship services to support the
  life cycle of scholarly production, including curation, publication,
  preservation and outreach to researchers. He is one of the organizers of
  THATCamp Publishing, and the Taiga Forum, both held in conjunction with this
  DLF Forum.
</p>
<p>
  <strong>Theodore Fons</strong> is Director, WorldCat Global Metadata Network,
  OCLC. In that role he oversees services that include synchronization of
  WorldCat with thousands of library catalogs, stewardship of the WorldCat
  Registry, and the WorldCat knowledge base of licensed electronic resources.
  Prior to joining OCLC Ted worked at Innovative Interfaces, and in academic
  libraries doing acquisitions, cataloging and reference work.
</p>
<p>
  <strong>Elizabeth Kirk</strong> is Associate Librarian for Information
  Resources at Dartmouth College Library, where she is responsible for the
  Library’s collections program and services in digital resources, scholarly
  communications, acquisitions, cataloging and metadata, and assessment.
  Previous to coming to Dartmouth College, Eliz was founding manager of the
  Entrepreneurial Library Program the Sheridan Libraries at the Johns Hopkins
  University. She has spoken extensively on electronic information, library
  services to distance education, social entrepreneurship in libraries,
  copyright, and using technology to transform higher education.
</p>
