---
title: 'Civil War 150: Notes Toward a Linked Data Case Study'
---

<p><em>Constellation D: Monday, October 31, 4:15 – 5:00PM</em></p>
<p>
  Civil War Data 150 (CWD150) is a collaborative project to share data relating
  to the American Civil War across local, state, and federal institutions using
  Linked Data. It builds on expertise among cultural heritage institutions,
  digital humanists, and information technology experts in the private and
  non-profit sectors and counts among its partners the Archives of Michigan, the
  Internet Archive, Freebase, and the University of Richmond, among others.
</p>
<p>
  This research update presents the objectives of CWD150 and reflections on its
  progress thus far. CWD150 addresses the key opportunities identified by
  participants in the Linked Open Data in Libraries, Archives, and Museums
  Summit, San Francisco, June 2011 by creating a use case to demonstrate the
  potential of Linked Open Data, by addressing questions about metadata
  licensing, by creating tools for publishing and using linked data and by
  agreeing on shared vocabularies within a limited domain. It seeks to build
  semantic relationships among data on the Civil War that cross institutional
  and technical obstacles in order to facilitate productive exchanges between
  the public, cultural heritage institutions, and scholars.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_9966082">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/jonvoss/civil-war-data-150-at-dlf-fall-forum-2011"
      target="_blank"
      >Civil War Data 150 at DLF Fall Forum 2011</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/9966082"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/jonvoss" target="_blank">Jon Voss</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p><strong>Scott Nesbit</strong> (University of Richmond)</p>
<p><strong>Jon Voss</strong></p>
