---
title: Community Showcase
---

<div class="elementor-widget-container">
  <p>
    The Community Showcase will take place on Monday, October 31 from 1 – 2pm.
    Participants will get a preview of the posters and demos during the
    Lightening Round at lunch. The Community Showcase is an opportunity for
    participants to engage, ask questions, and find out how to get involved.
  </p>
  <h2>Lightening Round</h2>
  <p>
    The Lightening Round will take place during lunch on Monday, October 31, a
    little before 1PM. A presenter from each poster and demo will give a short
    45 second pitch, providing an opportunity for Forum participants to preview
    the various topics and tools that make up the Community Showcase.
  </p>
  <h2>Community Showcase Posters and Demos</h2>

  <ul>
    <li>
      <strong
        ><a href="http://www.slideshare.net/green19/bandits-and-browsing-poster"
          >Bandits and Browsing: Effective Collection Size as Way of Quantifying
          Search Efficiency</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      Harriett Green (University of Illinois at Urbana-Champaign), Kirk Hess
      (University of Illinois at Urbana-Champaign), and Richard Hislop,
      non-presenting contributor (University of Illinois at Urbana-Champaign)
    </p>
    <li>
      <strong
        >The VIVO Open Source Semantic Web Application: Experience and Next
        Steps</strong
      >
    </li>
    <p style="padding-left: 120px">
      Brian Lowe (Cornell University Library)<strong></strong>
    </p>
    <li>
      <strong
        >Discovering Digital Library User Behavior with Google Analytics</strong
      >
    </li>
    <p style="padding-left: 120px">
      <strong></strong>Kirk Hess (University of Illinois at Urbana-Champaign),
      Harriett Green (University of Illinois at Urbana-Champaign), and Richard
      Hislop, non-presenting contributor (University of Illinois at
      Urbana-Champaign)<strong></strong>
    </p>
    <li><strong>DuraCloud In Action</strong></li>
    <p style="padding-left: 120px">
      <strong></strong>Andrew Woods (Duraspace)<strong></strong>
    </p>
    <li>
      <strong
        >VuDL: A New Open Source Digital Library System, Built Upon Native XML
        Technologies and Metadata Standards</strong
      >
    </li>
    <p style="padding-left: 120px">
      David Lacy (Villanova University)<strong></strong>
    </p>
    <li>
      <strong
        >The Open Parks Grid: A Collaborative Project Combining HubZero and
        Fedora</strong
      >
    </li>
    <p style="padding-left: 120px">
      Emily Gore (Florida State University Libraries), Christopher Vinson
      (Clemson University), Scott Hammel (Clemson University), and Mike Witt
      (Purdue University)
    </p>
    <li>
      <strong
        >From the Archivists’ Toolkit to Aleph (With a Few Bumps
        In-Between)</strong
      >
    </li>
    <p style="padding-left: 120px">Heidi Frank (New York University)</p>
    <li>
      <strong
        ><a href="http://libra.virginia.edu/catalog/libra-oa:218"
          >A Curator-Friendly Workflow System for Editing and Indexing XML
          Metadata in Digital Repositories</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      <strong></strong>Adam Soroka (The University of Virginia Library)
    </p>
    <li>
      <strong>Unifying Content: Wrangling Disparate Metadata Sources</strong>
    </li>
    <p style="padding-left: 120px">
      Esha Datta (New York University), Corey Harper (New York University), and
      Alberto Flores (New York University)
    </p>
    <li>
      <strong
        ><a
          href="http://www.slideshare.net/lindahl/linkeddataready-software-for-libraries"
          >“Linked-Data-Ready” Software for Libraries</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      David Lindahl (University of Rochester, eXtensible Catalog Organization)
    </p>
    <li>
      <strong
        >The Biodiversity Heritage Library: Digitization Across Borders</strong
      >
    </li>
    <p style="padding-left: 120px">
      Martin Kalfatovic (Smithsonian Institution) and Boris Jacob (Royal Museum
      for Central Africa in Tervuren, Belgium)
    </p>
    <li>
      <strong
        ><a
          href="http://digitalpreservation.ncdcr.gov/asgii/presentations/dlf2011.pdf"
          >Moving the Rubber Tree: How a Small Institution Gets Stuff Done with
          Some Social Media and the “Crowd”</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      Lisa Gregory (State Library of North Carolina), and Kim Cumber (North
      Carolina State Archives)
    </p>
    <li>
      <strong
        ><a
          href="https://docs.google.com/viewer?url=http%3A%2F%2Fwww.ultraslavonic.info%2Fpreprints%2F20111031.pdf"
          >Best Practices for TEI in Libraries</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      Kevin Hawkins (MPublishing, University of Michigan Library), Melanie
      Schlosser (The Ohio State University Libraries), and Michelle Dalmau,
      non-presenting contributor (Indiana University Digital Library Program)
    </p>
    <li>
      <strong
        ><a href="http://www.slideshare.net/cwilliford/di-d-posterdlfpptx"
          >Lessons from Digging Into Data: what information professionals should
          know about computationally intensive research practice</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      <a href="http://www.slideshare.net/cwilliford/di-d-dlfhandout"
        >Digging Into Data Handout</a
      >
    </p>
    <p style="padding-left: 120px">
      Christa Williford (Council on Library and Information Resources)
    </p>
    <li>
      <strong
        ><a
          href="http://alexandriaarchive.org/wp-content/uploads/sites/3/2011/10/Kansa_poster_DLF2011.pdf"
          >Data Sharing as Publication: Developing a Data Journal for
          Archaeology</a
        ></strong
      >
    </li>
    <p style="padding-left: 120px">
      Eric C. Kansa (OpenContext.org and UC Berkeley) and Sarah Whitcher Kansa,
      non-presenting contributor (Alexandria Archive Inst.)
    </p>
    <li>
      <strong
        >ViewShare.org: A free and open platform for sharing and visualizing
        cultural data</strong
      >
    </li>
    <p style="padding-left: 120px">
      Martha Anderson, Trevor Owens, and Abigail Potter (Library of Congress)<br />
      &nbsp;
    </p>
  </ul>
</div>
