---
title: 'CURATEcamp: Catalogers & Coders'
---

<p><em>Constellation C: Wednesday, November 2, 9:00AM – 5:00PM</em></p>
<p>
  CURATEcamp: Catalogers &amp; Coders is DLF Fall Forum’s Developers’
  Roundtable, focusing on connecting professional catalogers and library
  software developers. The roles played by catalogers and developers lie on the
  same continuum and yet these two groups do not necessarily have many
  opportunities to engage one another in the workplace. As an unconference, the
  attendees determine the entirety of the agenda; one of the Camp’s features is
  serendipitous engagement.
</p>
<p>Aims:</p>
<ul>
  <li>Expose common pain points from both communities</li>
  <li>Identify opportunities for coder/cataloger collaboration</li>
  <li>Find practical next steps to further LODLAM discussion</li>
  <li>Apply LODLAM work in both professional contexts</li>
</ul>

<h2>Session Leaders</h2>
<p>
  <strong>Mike Giarlo</strong> is Digital Library Architect at the Pennsylvania
  State University, designing a technical architecture for an institutional
  digital stewardship program. He has been working in academic and research
  library technology since 1999, holding systems administration and software
  development positions at Rutgers University Libraries, the University of
  Washington Libraries, Princeton University Library, and the Library of
  Congress. He earned both a bachelor’s degree and an MLIS at Rutgers. He
  sometimes answers to “Art Vandelay.”
</p>
<p>
  <strong>Declan Fleming</strong> is the director of IT at the University of
  California, San Diego Libraries. His main interests revolve around using tech
  to help people, building communities, linked data, and building sustainable
  repositories. His background is in academic and corporate computing, starting
  at the University of Illinois in 1988, then corporate work at QUALCOMM and a
  Microsoft/QUALCOMM joint venture. He has an MBA from San Diego State
  University.
</p>
<p>
  <strong>Diane Hillmann</strong> is currently a partner in the consulting firm
  Metadata Management Associates and Director of Metadata Initiatives at the
  Information Institute of Syracuse. From 1977 to 2008 she was associated with
  Cornell University Library, as a Law cataloger, technical services manager,
  and manager of authorities and maintenance processes for the Cornell Library’s
  database. She also participated in the Cornell portion of the National Science
  Digital Library Core Infrastructure as Director of Library Services and
  Operations between 2000-2005. (http://nsdl.org) Diane was a liaison to and
  member of MARBI from the late 1980’s to 2000, specializing in the Holdings and
  Authorities formats, which lead to her early participation in the Dublin Core
  Metadata Initiative. She is currently a member of the DCMI Advisory Board, was
  co-Program Chair for the DC-2010 and DC-2011 conferences in Pittsburgh and The
  Hague.
</p>
<p>
  <strong>Jenn Riley</strong> is the Head of the Carolina Digital Library and
  Archives at the University of North Carolina at Chapel Hill. She has a
  particular interest in engaging metadata specialists and technologists to more
  easily create metadata, and use it effectively in multiple environments. Prior
  to arriving at the University of North Carolina in 2010, Jenn was the Metadata
  Librarian with the Indiana University Digital Library Program.
</p>
