---
title: Data Management Planning Tool
---

<p><em>Constellation D: Tuesday, November 1, 2:00 – 5:00PM</em></p>
<p>
  A growing number of funding agencies require data management plans (DMP) as
  part of new proposals. In addition, institutions are using DMPs to aid in
  strategic planning for infrastructure and resources. To help researchers with
  this requirement, several organizations (the California Digital Library,
  University of Illinois, University of Virginia, Smithsonian Institution, the
  DataONE consortium and the (UK) Digital Curation Centre) came together to
  develop the DMPTool. The goal of the DMPTool is to provide researchers with
  guidance, links to resources and help with writing data management plans.
</p>
<p>
  Researchers using the DMPTool first select the funding agency for which they
  are writing a grant proposal. They will find specific requirements for DMPs
  from their funding agency, and detailed help with each of the areas that the
  plan should cover. They can create a plan, preview it, export it in various
  formats, and make it freely accessible for others to read.
</p>
<p>
  Researchers from partner institutions have additional functionality available
  to them. Once they log in and begin to develop a DMP, they will find links to
  resources at their institutions, such as to preservation repositories,
  consultation services or other information and support provided to researchers
  by their institutions. In addition, partner institutions can provide help to
  specific questions within the plans, and even suggest answers to these
  questions. Institutions can also provide news items about events, workshops,
  and other information. This will provide an invaluable way for institutions to
  highlight their resources and services to researchers. Other developments,
  such as integration with grants management systems and closer cooperation with
  the funding agencies, have been discussed.
</p>
<p>
  This workshop has three goals: 1) to provide an in-depth look at the DMPTool,
  providing information to staff at libraries, data centers and IT organizations
  who can in turn inform and train the faculty members, researchers and
  administrators at their institutions; 2) to describe the information
  institution can provide to become contributing partners; and 3) future
  development plans and ideas for priorities, directions and funding
  opportunities.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10010400">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/UC3/dmptool-dlf-forum-nov-1-2011"
      target="_blank"
      >DMPTool / DLF Forum, Nov 1, 2011</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10010400"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/UC3" target="_blank"
      >University of California Curation Center</a
    >
  </div>
  <p></p>
</div>
<p>
  <strong>Participants List</strong><br />
  1. Yolanda Cooper<br />
  2. Holly Mercer<br />
  3. Helen Tibbo<br />
  4. Gregg Silvis<br />
  5. Erin Sackett-Hermann<br />
  6. Spencer Keralis<br />
  7. Shannon Stark<br />
  8. Jordon Andrade<br />
  9. Nancy Elkington<br />
  10. Jim Kuhn<br />
  11. Bob Duncan<br />
  12. Anne Elguindi<br />
  13. Eliz Kirk<br />
  14. Martin Halbert<br />
  15. Andrea Medina-Smith<br />
  16. Tali Beesley<br />
  17. Emily Gustainis<br />
  18. Betsy Gunia<br />
  19. Tip Ros<br />
  20. Daniel Lanz<br />
  21. Tip Ros<br />
  22. Mark Matienzo<br />
  23. Joshua Gomez o<br />
  24. Zhiwu Xie<br />
  25. Nathan Hall<br />
  26. Richard (Rick) Johnson<br />
  27. Nadia Seiler<br />
  28. Mary Molinaro<br />
  29. Elisabeth Long<br />
  30. Bill Corey<br />
  31. Harriett Green<br />
  32. Mary Manning<br />
  33. Johan Oberg<br />
  34. Todd Grappone<br />
  35. Linda Thomas<br />
  36. John Mark Ockerbloom<br />
  37. Michael Witt<br />
  38. Cheryl Walters<br />
  39. Jackie Dooley<br />
  40. Sarah Potvin
</p>
<p>
  <strong>Wait List</strong><br />
  41. Kent Norsworthy<br />
  42. Dan Chudnov
</p>
<h2>Session Leaders</h2>
<p><strong>Perry Willett</strong> (California Digital Library)</p>
<p><strong>Sherry Lake</strong> (University of Virginia)</p>
<p><strong>Günter Waibel</strong> (Smithsonian Institution)</p>
