---
title: Designing and Implementing Effective Digitization Workflows
---

<p><em>Constellation C: Monday, October 31, 4:15 – 5:00PM</em></p>
<p>
  The 21st century has witnessed an exponential growth in technological tools
  whose intentions are to enhance productivity. In some instances they create
  complex issues that have to be addressed prior to completion of a task such as
  technological obsolescence and deterioration of digital storage media (Li
  &amp; Banach, 2011), and asset management technologies, digital archiving best
  practices, and metadata standards (Hurford &amp; Runyon, 2011) . With the
  digitization of photography collections, libraries are being forced to
  reexamine their workflows in order to facilitate the acquisitions process,
  provide better access, and successful collection management. In order to
  determine the current status of workflows for digital photography collections
  in Association of Research Libraries (ARL) member institutions, this
  presentation will examine the results of a survey. Based on the methodology
  presented by Li and Banach (2011), questions will focus on participating
  libraries’ missions and goals, preservation policies and strategies, rights
  and agreements, long-term plans to ensure quality of the resources, and
  sustainable funding and staffing concerns (p. 2). Findings will reveal current
  workflows practices for digital photograph collections in ARL libraries, and
  identify concerns and suggested remedies for libraries struggling with
  designing and implementing effective digitization workflows.
</p>
<h2>Session Leader</h2>
<p>
  <strong>Vickie Toranzo-Zacker</strong> (School of Information, University of
  South Florida)
</p>
