---
title: 'Digital Curation, Data Management, Digital Preservation, Sustainability: Are We Clear Yet?'
---

<p><em>Constellation C: Monday, October 31, 10:30AM – 12:00PM</em></p>
<p>
  This session will examine the status of discourse surrounding “data management
  planning,” “digital curation,” “digital preservation,” and “sustainability”
  from varied perspectives, with the purposes of helping to ensure that key
  stakeholder communities are on the same page when they communicate and
  collaborate. Recent conferences, blog postings, and project descriptions
  reveal occasional confusion and dissonance between and among digital
  librarians, educators, domain specialists, funders, and others as they develop
  action plans or guidelines for addressing these issues. The terms noted above
  don’t always mean the same thing to the various communities of interest trying
  to identify next best steps in dealing with research data, born-digital
  resources, surrogates, or other digital content and assets. For example, in
  some settings, digital preservation is seen as a component of data management
  planning; in other contexts, it’s exactly the opposite. For some, digital
  curation carries a broad, overarching meaning, while for others, this term has
  yet to come into common use and seems overly ambiguous.
</p>
<p>
  Achieving greater clarity on the uses and meanings of these terms and concepts
  is not merely a semantic exercise. With interdisciplinary approaches being so
  vital to the successful care and stewardship of digital information, greater
  consistency in communication and commonality of understanding of
  methodological frameworks is a must. As is often acknowledged, maintaining and
  making digital content properly available involves a high level of
  cross-community engagement between information creators, tech engineers,
  systems managers, curators, end users, and others to encompass a truly
  effective life-cycle strategy. Sharpening the definitions for fundamental
  concepts becomes a key ingredient in advancing such interaction and
  interdependence.
</p>
<p>
  This topic will be explored by a panel comprising 1) an educator from a
  leading information studies program developing a digital curation curriculum,
  2) a co-author of the Association of Research Libraries’ guide for research
  libraries on the NSF data sharing policy, 3) a digital archivist incorporating
  sustainability in both institutional and community development environments,
  and 4) a representative from the Library of Congress’ National Digital
  Information and Infrastructure Preservation Program. The panel will be
  moderated by a representative of a funding agency that supports the creation
  and long-term preservation of digital content. Although the session will make
  no pretense of producing conclusive definitions, it should bring heightened
  attention to the challenge of untangling the overlapping meanings of evolving
  terms and constructs and their emerging application in digital library
  practice.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Joel Wurl</strong> is a Sr. Program Officer in the Division of
  Preservation &amp; Access, National Endowment for the Humanities, where he is
  involved foremost with the division’s “Humanities Collections &amp; Reference
  Resources” program, which, among other activities, supports efforts to
  preserve and make available digital humanities content.. Prior to joining NEH
  in October, 2006, he worked for 20 years with University of Minnesota’s
  Immigration History Research Center ending there as Head of Research
  Collections and Associate Director. His publications have appeared in both
  archival and immigration/ethnic history journals, and he is general editor for
  “North American Immigrant Letters, Diaries, and Oral Histories,” an online
  product of Alexander St. Press. In 2007, he was named a Distinguished Fellow
  of the Society of American Archivists. He also serves as Adjunct Instructor in
  the Applied History program at George Mason University.
</p>
<p>
  <strong>Dr. Helen R. Tibbo</strong> is an Alumni Distinguished Professor at
  the School of Information and Library Science (SILS) at the University of
  North Carolina at Chapel Hill (UNC-CH), and teaches in the areas of archives
  and records management, digital preservation and access, appraisal, and
  archival reference and outreach. She is also a Fellow and immediate
  Past-President of the Society of American Archivists (SAA). From 2006-2009,
  Dr. Tibbo has been Principal Investigator for the IMLS-funded DigCCurr I
  project that developed an International Digital Curation Curriculum for
  master’s level students and the DigCCurr II project that extends the Digital
  Curation Curriculum to the doctoral level. In 2009, she received IMLS support
  for two additional projects, Educating Stewards of Public Information in the
  21st Century (ESOPI-21) and Closing the Digital Curation Gap (CDCG). The
  latter is a collaboration with the Joint Information Systems Committee (JISC)
  and the Digital Curation Center (DCC), both of the United Kingdom, to explore
  educational and guidance needs of cultural heritage information professionals
  in the digital curation domain in the US and the UK.
</p>
<p>
  <strong>Dr. Patricia Hswe</strong> is Digital Collections Curator at the Penn
  State University Libraries. Her work is largely about making digital content
  and data discoverable, accessible, and usable over time, for as long as these
  materials are useful – toward the related goals of repurposing them and adding
  value to the Libraries’ collections and data sets. To these ends, she is
  regularly engaged in activities of assessment, data/content management, and
  stewardship services planning. In this context, a key responsibility is
  assisting in the development of services to support faculty and students in
  the curation of their research data and other scholarly materials. In
  addition, she has research interests in user engagement with special
  collections and archives and in the challenges of humanities data curation.
  Patricia is a former CLIR Post-Doctoral Fellow and a 2008 graduate of the
  Master’s degree program at the University of Illinois’ Graduate School of
  Library and Information Science. She also holds a PhD in Slavic Languages and
  Literatures from Yale.
</p>
<p>
  <strong>Megan Forbes</strong> is the Collection Manager at the Museum of the
  Moving Image and the Project Manager for CollectionSpace, an international
  initiative, supported by the Andrew W. Mellon Foundation, devoted to the
  creation of an open-source, web-based software application for the cataloging,
  managing, and publishing of museum collections data. Megan is currently
  working on creating extensions to the existing CollectionSpace software that
  will allow museums and other cultural organizations to more easily manage
  information around digital objects, from media art to video games.
</p>
<p>
  <strong>William LeFurgy</strong> is Project Manager, Digital Initiatives for
  the Library of Congress, National Digital Information Infrastructure and
  Preservation Program (NDIIPP). He leads the digitalpreservation.gov
  communications team, which uses the web and social media to engage with
  professional and public audiences. The team publishes a blog, “The Signal,”
  and manages the @ndiipp Twitter stream. LeFurgy also oversees a variety of
  program initiatives, including development of a national approach to
  stewardship of geospatial data as well as four collaborative projects
  involving 35 states to preserve state government digital information. A
  frequent speaker on the topic of digital preservation, he has met with many
  groups around the world to discuss all aspects of the subject. In former lives
  LeFurgy dealt with electronic records at the National Archives and Records
  Administration and served as Baltimore City Archivist and Records Management
  Officer. While he has memories of punch cards, monochrome monitors and
  30-pound portable computers, he is also an enthusiastic creator and consumer
  of social media. He has a BA degree in History from McGill University, as well
  as and MLS and MA in history from the University of Maryland.
</p>
