---
title: 'Establishing Data Management Services: The Johns Hopkins University Libraries’ Approach'
---

<p><em>Constellation F: Monday, October 31, 2:00 – 3:00PM</em></p>
<p>
  In January 2011 the National Science Foundation (NSF) began requiring that
  proposals include a two page data management plan. Research institutions who
  actively pursue NSF grants have responded to the new requirement by creating
  data management services through a variety of models that cover a range of
  support. Johns Hopkins University (JHU) has established a service model that
  is both responsive to the particular needs and expectations within the Johns
  Hopkins University community and draws on a fortuitous blend of expertise and
  experience. The Sheridan Libraries at Johns Hopkins University are home to the
  Digital Research and Curation Center which was awarded a five year NSF DataNet
  award to build sustainable infrastructure for data sharing, access, re-use and
  preservation. The Sheridan Libraries are also home to the Entrepreneurial
  Library Program, which for more than a decade has created and managed
  financially sustainable services for communities both within and beyond Johns
  Hopkins University. In the spring of 2010, collaborative work between these
  two units, in support of the Data Conservancy sustainability goals, was
  leveraged to begin review and assessment of the upcoming data management
  planning mandate from NSF. Research was conducted in collaboration with JHU
  Research Projects Administration to determine the range of needs among
  principal investigators (PIs) within the community. Data management planning
  support was piloted with JHU PIs, service support and infrastructure costs
  were analyzed, and new services were proposed.
</p>
<p>
  The JHU Data Management services group was launched in July 2011 to provide
  services and support to JHU PIs to prepare two page data management plans for
  NSF proposals and to provide further planning and management once an award has
  been made. Service provision is based on a consultative support model which
  recognizes a diversity of needs and solutions for managing data across
  scientific domains. The services will be supported by a dedicated team that
  will grow JHU’s expertise in data management planning and build upon the core
  systems developed by the Data Conservancy. Continuous assessment and
  evaluation will be integral to the working operations of the group to ensure
  services evolve and are responsive to the needs and expectations of JHU PIs.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>G. Sayeed Choudhury</strong> is the Associate Dean for Library Digital
  Programs and Hodson Director of the Digital Research and Curation Center at
  the Sheridan Libraries of Johns Hopkins University. He is also the Director of
  Operations for the Institute of Data Intensive Engineering and Science (IDIES)
  based at Johns Hopkins.
</p>
<p>
  <strong>Barbara Pralle</strong> is the Head of the Entrepreneurial Library
  Program (ELP) at the Sheridan Libraries of Johns Hopkins University, where she
  oversees the development and management of financially sustainable services.
  Barbara is also the interim manager for the JHU Data Management Services
  group.
</p>
