---
title: 'EZID: Persistent Identifiers and Data Citation'
---

<p><em>Constellation B: Monday, October 31, 2:00 – 3:00PM</em></p>
<p>
  The record of science will be incomplete without an established and routine
  practice of sharing and archiving datasets upon which scientific conclusions
  are based. To motivate such practice, especially given the difficulty of
  preparing datasets for sharing, there are emerging mechanisms for receiving
  credit and career advancement, as well as new requirements for including data
  management plans in funding proposals. Fundamental to both these inducements
  are dataset citations containing identifiers that can be used to measure
  scholarly impact and that stably reference datasets in persistent storage.
</p>
<p>
  This talk will describe the role that the EZID identifier service
  (http://n2t.net/ezid) plays in creating and maintaining identifiers and
  metadata in support of data citation and identifier persistence. Originating
  from the California Digital Library, EZID offers services for DOIs via the
  DataCite consortium, for ARKs, and soon for other identifier schemes. We will
  also report on new features under development, including generalized suffix
  passthrough, exposure to indexing services such as the Web of Knowledge, and
  more.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_9978331">
  <strong style="display: block; margin: 12px 0 4px"
    ><a href="http://www.slideshare.net/UC3/ezid-easy" target="_blank"
      >EZID: Easy Persistent Identifiers and Data Citation</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/9978331"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a>
    from
    <a href="http://www.slideshare.net/UC3" target="_blank"
      >University of California Curation Center</a
    >
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p><strong>John Kunze</strong></p>
<p><strong>Joan Starr</strong></p>
<p><strong>Greg Janée</strong></p>
