---
title: 'Getting the Most Out of DataNet: A Panel Discussion of the NSF Funded DataNet Partnerships'
---

<p><em>Constellation B: Tuesday, November 1, 8:30 – 10:00AM</em></p>
<p>
  This presentation will feature leaders from five of the DataNet organizations
  funded through the National Science Foundation’s Sustainable Digital Data
  Preservation and Access Network Partners (DataNet) solicitation (National
  Science Foundation, 2007, 2009). The projects are The Data Conservancy: A
  Digital Research and Curation Virtual Organization, based at Johns Hopkins
  University, DataONE: Observation Network, based at the University of New
  Mexico, SEAD: Sustainable Environments-Actionable Data, based at the
  University of Michigan, the DataNet Federation Network based at the University
  of North Carolina, and Terra Populus: A Global Population/Environment Data
  Network (TerraPop) based at the University of Minnesota.
</p>
<p>
  Following a brief overview of NSF’s DataNet vision and goals, each funded
  project will be introduced and positioned within the context of NSF’s vision
  for the DataNet Partners. The next part of the panel will describe how each of
  their organizations are developing their own methodologies to integrate
  library and archival sciences, cyberinfrastructure, computer and information
  sciences, and domain science expertise to:
</p>
<p>
  • provide reliable digital preservation, access, integration, and analysis
  capabilities for science and/or engineering data over a decades-long
  timeline;<br />
  • continuously anticipate and adapt to changes in technologies and in user
  needs and expectations;<br />
  • engage at the frontiers of computer and information science and
  cyberinfrastructure with research and development to drive the leading edge
  forward; and<br />
  • serve as component elements of an interoperable data preservation and access
  network.
</p>
<p>
  The final part of the panel will discuss collaboration between the DataNet
  partners and the next overall timeline from each organization in terms of
  deliverables for the community in order to serve as “elements of an
  interoperable data preservation and access network for science.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Robert McDonald</strong>, Panel Moderator, SEAD (NSF DataNet),
  Associate Dean for Library Technologies and Digital Libraries and Associate
  Director Data to Insight Center at Indiana University.
</p>
<p>
  <strong>Sayeed Choudry</strong>, Data Conservancy (NSF DataNet), Associate
  Dean for Library Digital Programs and Hodson Director of the Digital Research
  and Curation Center in the Sheridan Libraries at Johns Hopkins University.
</p>
<p>
  <strong>Richard Marciano</strong>, DataNet Federation Consortium (NSF
  DataNet), Professor and Director of Sustainable Archives and Leveraging
  Technologies (SALT) and Co-Director of the Digital Innovation Lab in the
  School of Information and Library Science at the University of North
  Carolina-Chapel Hill.
</p>
<p>
  <strong>William Michener</strong>, DataOne (NSF DataNet) – Professor and
  Director of e-Science Initiatives for University Libraries at the University
  of New Mexico.
</p>
<p>
  <strong>Margaret Hedstrom</strong>, SEAD (NSF DataNet), Professor and
  Associate Dean in the School of Information at the University of Michigan.
</p>
<p>
  <strong>Steven Ruggles</strong>, Terra Populus (NSF DataNet) – Regents
  Professor of History and Population Studies and Director of the Minnesota
  Population Center at the University of Minnesota.
</p>
