---
title: HUBzero Modifications and Implementation
---

<p><em>Constellation E: Monday, October 31, 11:15AM – 12:00PM</em></p>
<p>
  The HUBzero (http://hubzero.org) framework is an open-source software package
  originally developed under NSF funding at Purdue University for the
  nanohub.org implementation. The HUBzero version is presently deployed at 25
  sites, including large-scale scientific projects such as the NEES Network for
  Earthquake Engineering Simulation and digital library projects such as Bamboo
  and Ethics CORE (Collaborative Online Resource Environment). This presentation
  will discuss modifications made at the University of Illinois to utilize the
  software as a platform for the Ethics CORE Digital Library
  (http://nationalethicscenter.org), part of a 5-year, $5 million NSF project to
  create an online resource center that develops, compiles, and maintains
  resources related to ethics in science, mathematics, and engineering. The
  project is charged with gathering existing information, generating new
  knowledge, and creating interactive tools that will help scientists and
  engineers incorporate ethical issues and reasoning into their pedagogy and
  research.
</p>
<p>
  Project-specific modifications to the software include incorporation with
  several other open-source technologies, including the Moodle course management
  system, the eXtensible Text Framework (XTF) digital collections software, and
  homegrown search &amp; discovery tools. The Illinois team has also integrated
  a comprehensive research literature search component, which provides users
  with access to the published literature available through Elsevier’s Scopus
  database and through several heterogeneous institutional ethics collections.
  Much of this process has involved the re-purposing of legacy .NET scripts to
  act as API’s to communicate with HUBzero’s LAMP framework.
</p>
<p>
  In addition to hosting a digital collection of ethics publications and
  learning objects, Ethics CORE provides the capability of distributing material
  in several different contexts. Users are able to write blogs, collaboratively
  edit documents for publication, and collaboratively review material submitted
  to the site. The project will host an electronic journal and an interactive
  encyclopedia. This presentation will discuss the challenges of developing
  tools for scholars, students &amp; professionals who engage in various aspects
  of scholarly publishing (collaborative authorship, editing, and peer review)
  within a single digital library platform.
</p>
<h2>Session Leader</h2>
<p><strong>William Mischo</strong> (University of Illinois)</p>
