---
title: 'Hypatia: Research & Early Developments on a Platform for Managing Born Digital Archival Materials'
---

<p><em>Constellation E: Monday, October 31, 3:30 – 4:15PM</em></p>
<p>
  As part of the Mellon-funded AIMS project [1], the Universities of Virginia
  and Hull, Stanford and Yale have spent the last two years focused on exploring
  the ramifications and distinct requirements of born digital archival materials
  in research libraries and archives. As manuscripts and records, drawings and
  data sets are increasingly produced, stored and offered to archives in digital
  form, memory institutions must develop the processes, agreements,
  infrastructure and workflows tooled to accommodating digital files.
</p>
<p>
  This research update will focus on the partners’ research and prototyping of
  the tools, infrastructure and workflows necessary to provide an end-to-end
  environment for born digital archival materials. This includes forensically
  extracting files from their source media; enabling arrangement and description
  of the materials in a digital environment; and providing scholarly discovery
  and access to individual files.
</p>
<p>
  The session will focus predominantly on the cooperative development done by
  the partners on Hypatia (Hydra Platform for Access To Information In Archives)
  [2], a Hydra-based Ruby-on-Rails application with a Fedora Repository back-end
  designed to provide digital archivists with a platform for managing,
  preserving and providing access to born digital archival materials. While
  Hypatia is still in the early stages of its development, through the process
  of specifying and developing it to accommodate nine born digital archives from
  four institutions, the partners have derived first hand, practical experience
  on some key issues surrounding born digital materials, including:
</p>

<ul>
  <li>
    the unique needs of digital archival materials relative to digital library
    objects
  </li>
  <li>
    the unique needs of digital archival materials relative to digital library
    objects
  </li>
  <li>the gaps and overlaps with EAD for managing these materials</li>
  <li>
    strategies to leverage forensic tools and processing, pre-ingest workflows
    and post-ingest / repository-based processing
  </li>
  <li>
    the necessity to support both detailed, item-level description and extremely
    lightweight processing, supporting the growing trend of MPLP, or “More
    Product, Less Process” in the archival world [3]
  </li>
  <li>
    data models for collection, series, and item objects that support both bulk
    and granular description and access levels, as well as preservation-ready
    objects
  </li>
  <li>
    requirements and initial designs for more robust arrangement and description
    tools, produced by the project’s digital archivists as a byproduct of using
    existing tools on digital collections
  </li>
</ul>

<p>
  In closing, the research update will highlight both the successes and
  stumbling blocks encountered in the course of Hypatia’s development, summarize
  the veins that seem most promising for further development, and survey the
  opportunities for continued collaboration on an open source solution in this
  space.
</p>
<p>
  [1]
  <a href="http://www2.lib.virginia.edu/aims/"
    >http://www2.lib.virginia.edu/aims/</a
  >
  <br />
  [2]
  <a href="https://wiki.duraspace.org/display/HYPAT/Home"
    >https://wiki.duraspace.org/display/HYPAT/Home</a
  ><br />
  [3]
  <a
    href="http://ahc.uwyo.edu/documents/faculty/greene/papers/Greene-Meissner.pdf"
    >http://ahc.uwyo.edu/documents/faculty/greene/papers/Greene-Meissner.pdf</a
  >
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10058390">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/DLFCLIR/hypatia-for-dlf-2011"
      target="_blank"
      >Hypatia for dlf 2011</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10058390"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>

  <div style="padding: 5px 0 12px">
    <p>
      View more
      <a href="http://www.slideshare.net/" target="_blank">presentations</a>
      from
      <a href="http://www.slideshare.net/DLFCLIR" target="_blank">DLFCLIR</a>
    </p>
  </div>
</div>
<h2>Session Leaders</h2>
<p><strong>Tom Cramer</strong> (Stanford)</p>
<p><strong>Julie Meloni</strong> (University of Virginia)</p>
<p><strong>Michael Olson</strong> (Stanford)</p>
<p><strong>Naomi Dushay</strong> (Stanford)</p>
<p><strong>Jessie Keck</strong> (Stanford)</p>
