---
title: Improving Institutional Repository Search Engine Visibility in Google and Google Scholar
---

<p>
  <em>Constellation D: Monday, October 31, 2:00 – 3:00PM<br /> </em><br />
  At the DLF Forum in 2010 we gave a general presentation about search engine
  optimization for digital repositories. In that presentation we revealed some
  new and surprising information about Google Scholar harvesting requirements,
  and how they affect institutional repositories’ visibility in the GS index. We
  learned, for instance, that the Webmaster Inclusion Guidelines for Google
  Scholar cautions us to “use Dublin Core only as a last resort” for metadata
  tags. One reason for instruction this is that Dublin Core cannot represent
  publication citation information very well. We have also learned that getting
  indexed in Google Scholar results in higher ranking for that same item in
  Google’s main index. Working with OCLC, we have continued to research SEO
  practices for Google Scholar as well as for the main Google index, and that
  research has resulted in a book contract with Neal-Schumann. We also gave a
  similar presentation at CNI last spring:
  <a
    href="https://web.archive.org/web/20120206130923/http://content.lib.utah.edu:80/u/?/ir-main,60502"
    >http://content.lib.utah.edu/u?/ir-main,60502</a
  >. In this year’s research update we offer a solid set of practices that can
  be applied broadly to institutional repositories to improve the percentage of
  items that are indexed by Google Scholar.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10020395">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/nomadusg/improving-institutional-repository-search-engine-visibility-in-google-and-google-scholar"
      target="_blank"
      >Improving Institutional Repository Search Engine Visibility in Google and
      Google Scholar
    </a></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10020395"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/nomadusg" target="_blank">nomadusg</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Kenning Arlitsch</strong> is Associate Dean for IT Services at the J.
  Willard Marriott Library, University of Utah. He recently completed a 12-month
  sabbatical, during which he conducted research with OCLC on search engine
  optimization and network level library technologies. Kenning began building
  the Marriott’s digital library program in 1999, and founded the multi-state
  Mountain West Digital Library, the Utah Digital Newspapers program, and
  co-founded the Western Soundscape Archive. His department is responsible for
  digitization, interface design and development, repository management, and
  server infrastructure for the library and its extended digital programs. He
  holds a BA in English from Alfred University in New York, and a Masters degree
  in Library and Information Science from the University of Wisconsin-Milwaukee.
  Kenning is also a graduate of the Frye Leadership Institute (2005) and of the
  Research Libraries Leadership Fellows program (2009), sponsored by the
  Association of Research Libraries.
</p>
<p>
  <strong>Patrick S. Obrien</strong> is an expert in customer focused, data
  driven sales and marketing operations. He specializes in the use of new media
  channels and Internet marketing to increase product visibility, acquire new
  customers, and improve customer satisfaction. He first began incorporating
  Search Engine Optimization (SEO) into demand generation marketing programs in
  1997. He is a former Accenture Strategy Consultant with over 15 years
  experience working with business executives on converting marketing strategy
  into actionable results within the Pharmaceutical, Biotechnology, Healthcare,
  Financial Services and Telecommunications industries. Mr. O’Brien holds a B.A.
  in Economics from UCLA and a MBA in Marketing and Finance from The University
  of Chicago, Booth School of Business.
</p>
