---
title: 'Kuali OLE: A Look at our Software Deliverables Roadmap One Year On'
---

<p><em>Constellation D: Monday, October 31, 10:30 – 11:15AM</em></p>
<p>
  This research update will feature leaders from the Kuali OLE project, which is
  in its second year of building a community-source library management
  environment. Operating since July 2010, and supported by The Andrew W. Mellon
  Foundation, Kuali OLE is the one of the largest academic library software
  collaborations in the US. In this presentation we will discuss the Kuali OLE
  roadmap as well as key components of the system architecture, including OLE’s
  use of the Kuali Financial System and RICE middleware, as well as its adoption
  and extension of technologies such as a document store, XForms, linked data,
  and the development of an open knowledge base.
</p>
<p>
  We will also discuss opportunities for engagement with Kuali OLE and for
  adoption and use of the software. Attendees will also be introduced to a
  demonstration of the current Kuali OLE code base and will have an
  understanding of how this code base could support library management at their
  home institution.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_9953963">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/rhmcdonald/kuali-ole-a-look-at-our-software-deliverables-roadmap-one-year-on"
      target="_blank"
      >Kuali OLE: A Look at our Software Deliverables Roadmap One Year On</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/9953963"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a>
    from
    <a href="http://www.slideshare.net/rhmcdonald" target="_blank"
      >Robert McDonald</a
    >
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Kristin Antelman</strong> is a member of the Kuali OLE Functional
  Council and Associate Director for the Digital Library at North Carolina State
  University.
</p>
<p>
  <strong>Robert H. McDonald</strong> is Executive Director of Kuali OLE,
  Associate Dean of Library Technologies and Digital Libraries, and Associate
  Director Data to Insight Center at Indiana University.
</p>
<p>
  <strong>Michael Winkler</strong> is Chair of the Kuali OLE Functional Council
  and Director, Information Technologies and Digital Development at the
  University of Pennsylvania Libraries.
</p>
