---
title: 'Linked Data: Hands on How-To'
---

<p><em>Constellation E: Tuesday, November 1, 2:00 – 5:00PM</em></p>
<p>
  In order to ensure this workshop is meaningful for participants, attendance
  will be limited to no more than 30 people.<strong><br /> </strong>
</p>
<p>
  We propose to facilitate a ‘hands-on’ workshop in which participants can gain
  direct experience working with their collection data as linked data sets.
</p>
<p>
  Bring an Excel spreadsheet or other file containing your collection data and a
  laptop prepared to jump in elbow to elbow with colleagues who want to learn
  more about LOD in a fun, low key, collaborative way. Don’t have collection
  data you can bring? That’s ok! We’ll supply 2-3 sample data sets to choose
  from to experiment on locally.
</p>
<p>
  We will attempt to package everything in a way that if connectivity is sparse
  the workshop can proceed on your laptop and you will go home with material for
  future experimentation.
</p>
<p>Targeted Learning outcomes: Understand how institutions can…</p>
<ul>
  <li>
    express collection data as Linked Open Data according to LOD
    ontologies/schemas from schema.org
  </li>
  <li>use and/or create schemas on schema.org</li>
  <li>process LOD collections in Refine and index them in Freebase</li>
  <li>consume LOD via Exhibit and/or Omeka/other tool of choice</li>
</ul>
<p>This is designed to be an ~3 hour introductory workshop.</p>
<h2>Session Resources</h2>
<div id="__ss_10110384" style="width: 400px">
  <strong style="display: block; margin: 12px 0 4px"
    ><a href="http://www.slideshare.net/DLFCLIR/intro-to-lod" target="_blank"
      >An Introduction to Linked Data and Microdata</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10110384"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    width="400"
    height="334"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a>
    from
    <a href="http://www.slideshare.net/DLFCLIR" target="_blank">DLFCLIR</a>
  </div>
</div>
<h3>Hands-On Tutorials</h3>
<ul>
  <li>
    <a
      href="https://docs.google.com/document/d/1cFZ2YyBCk-uqOOknBMNiHwr22xVIwvumPafPKxZXe6o/edit?hl=en_US"
      >Schema.org Hands-On</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/document/d/137RPfSSMfi0IzRK4NXG3088rHIFnEh40pU68mUhuCUA/edit?hl=en_US"
      >Google Refine Hands-On</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/document/d/1Fe3jLrorCYFW_ul1YV-S3-HlxPNlt2pNJ98yC187KNA/edit?hl=en_US"
      >URI Burner</a
    >
  </li>
</ul>
<h3>Sample Data Sets</h3>
<ul>
  <li>
    <a
      href="https://docs.google.com/?tab=co&amp;authuser=0&amp;pli=1#folders/0B7v0ey4WR_GnZjJiMGZkZGMtMTA5ZS00NWI4LTlhOGQtZmEzOGRkZDhlOWZl"
      >Google Refine Projects</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/spreadsheet/ccc?key=0Arv0ey4WR_GndEVPWm5zaktBd1phYUdfVWpCdFFzdUE&amp;hl=en_US#gid=0"
      >Perseus NPS PA Regiments</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/spreadsheet/ccc?key=0Arv0ey4WR_GndDlGSjRGb3k0aXpabFNtY2cxTDA4U3c&amp;hl=en_US#gid=0"
      >NOAA CWD Map Data</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/spreadsheet/ccc?key=0Arv0ey4WR_GndDNIelFwSmNPcDkyQ3YxNnFFbkowbXc&amp;hl=en_US#gid=0"
      >LoC CWD150 Print Collection</a
    >
  </li>
  <li>
    <a
      href="https://docs.google.com/spreadsheet/ccc?key=0Arv0ey4WR_GndGxQLWp1VDFyM1dreGN2cDdvajExTVE&amp;hl=en_US#gid=0"
      >PA Regimental Histories OL</a
    >
  </li>
</ul>
<h2>Session Leaders</h2>
<p>
  <strong>Richard Rodgers</strong> is head of Software Development at MIT
  Libraries. His library career has involved technical and community work on
  institutional repositories (DSpace committer), semantic web tools and
  infrastructure (MIT SIMILE project), and cloud- and grid-based services, among
  others. Before that, he worked in private industry in many software
  engineering capacities.
</p>
<p>
  <strong>Kris Carpenter-Negulescu</strong> leads a team responsible for
  developing open source tools used to browse, search, mine &amp; replay
  archived web content and for delivering web archiving, data mining, hosting
  and access services to memory institutions around the globe. Kris represents
  IA on the International Internet Preservation Consortium steering committee
  and serves as co-chair of the IIPC Access Working Group. Kris received a
  Bachelor of Arts in Political Science and a Masters of Arts in Organizational
  Behavior (an interdisciplinary program in Sociology/Industrial
  Engineering/Business) from Stanford University.
</p>
<p><strong>Matt Zumwalt</strong> (Media Shelf LLC)</p>
<p><strong>Susan Chun</strong> (Cultural Heritage Consulting)</p>
