---
title: 'Moving Forward: Examining the Needs to Re-tool LAMs Data'
---

<p><em>Constellation E: Tuesday, November 1, 10:30AM – 12:00PM</em></p>
<p>
  This workshop is limited to 40 participants.<br />
  <strong>
    ***The sign-up for this workshop is now closed. Please see below for
    participants and wait list. If you are on the participants list and decide
    not to attend, please email jwinberry@clir.org***.</strong
  >
</p>
<p>
  Discussions with librarians and archivists who are ready to move to the next
  generation of discovery environment includes the consistent and loud complaint
  for the “how to do what needs to be done”. There is a crying need to identify
  and describe tools that would help metadata librarians manipulate, refactor,
  or repurpose their metadata. The death of MARC and the mixing of data from all
  aspects of the Library, Archive and Museum community call for a rethinking of
  metadata and the need for tools to help facilitate the forward progress of the
  LAM dataset. This is explicitly clear in the context of converting to linked
  data. As traditional librarians move towards incorporating and participating
  in new standards, projects and programs such as RDA, VIAF or FAST, many
  institutions will be looking to incorporate identifiers to prepare for linked
  data. Conversations amongst appropriate people and coordinated action could
  reduce duplication of effort and assist those in need. Each library should not
  be an island working independently and alone.
</p>
<p>
  The intent of the workshop is to identify commonly desired tasks that 1)
  require a bit more scripting or programming savvy than many metadata
  librarians have, 2) could benefit staff at multiple institutions and 3) be
  developed and used uncoupled from specific local infrastructures. Successful
  outcomes would then inform the setting of priorities and identifying
  resources. A side benefit of such a workshop session would likely be the
  discovery of approaches that others have already used to accomplish some of
  the tasks. Potentially the final results would include use case studies that
  could inform post conference workshop between coders and librarians.
</p>
<h2>Resources</h2>
<p>
  <a href="{{ '/assets/files/DLF-session-results-2.doc' | url }}"
    >Session Notes</a
  >
</p>
<p>
  <strong>Participants List</strong><br />
  Ann Caldwell<br />
  Gregg Silvis<br />
  Emily Gore<br />
  Viral Amin<br />
  Shawn Averkamp<br />
  Mike Giarlo<br />
  Leah Prescott<br />
  Laura Smart<br />
  Chris Awre<br />
  Cecilia Tittemore<br />
  Diane Hillmann<br />
  Jackie Dooley<br />
  Corey Harper<br />
  Kevin Clair<br />
  Mikki Macdonald<br />
  Wendy Robertson<br />
  Kevin Ford<br />
  Timberly Wuester<br />
  Christa Maher<br />
  Liz Madden<br />
  Carolyn Caizzi<br />
  Michael Friscia<br />
  Cynthia Ghering<br />
  Jim Kuhn<br />
  Cheryl Gowing<br />
  MJ Han<br />
  Kyle Rimkus<br />
  David Lindahl<br />
  Jefferson Bailey<br />
  David Lacy<br />
  Andrea Medina-Smith<br />
  Beverly Turner<br />
  Sarah Potvin<br />
  Heidi Frank<br />
  Tip Ros<br />
  Daniel Lanz<br />
  Mark Matienzo<br />
  Tyler Danstrom<br />
  Cliff Wulfman<br />
  Nancy Fallgren
</p>
<p>
  <strong>Wait List</strong><br />
  Jon Stroop<br />
  Mark Dehmlow<br />
  Laura Akerman<br />
  Jane Mandelbaum<br />
  Mary Manning<br />
  Nadia Seiler<br />
  Linda Thomas<br />
  Lisa Colvin
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Suzanne Pilsk</strong> is the Head of the Metadata Unit in the
  Technical Services Division of the Smithsonian Institution Libraries, a
  position she has held since 1993. Through her career she has been a special
  librarian, a solo librarian, cataloger, and metadata specialist. A graduate of
  Trinity College, Hartford, CT (B.A.) and Vanderbilt University (M.L.S.),
  Suzanne has written and presented on metadata, special projects, and
  cataloging in the field of special, academic, and museum libraries. Her most
  recent work has focused on metadata needs of the Smithsonian Institution
  Libraries’ hidden collections, the international consortium effort to digitize
  taxonomic literature in the Biodiversity Heritage Library project, and
  attempting to keep up with traditional cataloging in MARC, AACR2 and RDA. In
  preparing for the future needs of the Institution, Suzanne is attempting to
  move the traditional metadata collected into the new world of linked open
  data.
</p>
<p>
  <strong>Robin Wendler</strong> is the Senior Metadata Analyst in the Office
  for Information Systems in the Harvard University Library. With a B.A. in
  Classics from the College of William and Mary and an M.L.S. from Syracuse
  University, Robin found that learning languages has a lot in common with
  metadata analysis. Originally an art and architecture cataloger, in recent
  decades she has worked closely with many constituencies at Harvard to define
  functional requirements for systems, services, and digital content. She has
  been involved in the creation or development of many metadata standards and
  schemas, including MARC, METS, MODS and PREMIS, and has written and consulted
  on metadata design, visual resource description and digital preservation.
</p>
