---
title: 'National Status of Data Management: The DataRes and CLIR/Sloan Research Projects on Data Management Policies and Practices'
---

<p>
  <em>Constellation C: Tuesday, November 1, 10:30 – 11:15AM<br /> </em><br />
  The landscape of scholarship in all disciplines is rapidly evolving toward the
  production of digital outputs of research such as datasets and electronic
  publications. New meta-research endeavors are seeking to better understand
  this evolving landscape and to chart a course forward for institutions
  attempting to navigate it. This presentation will present two collaborating
  projects researching emerging policies and practices in data management. These
  research projects are being undertaken by the Council on Library and
  Information Resources and the University of North Texas.
</p>
<p>
  The first project, entitled DataRes and funded by a $232K IMLS grant, will
  investigate how the library and information science (LIS) profession can best
  respond to emerging needs of research data management in universities. Data
  management plans and associated institutional policies now being implemented
  at research institutions in response to federal requirements will be analyzed
  to identify observable trends. A comprehensive investigation will be
  undertaken of the expectations of key stakeholders in the research community
  (including researchers, administrative officials, librarians, funding agency
  officials, research equipment vendors, and others) concerning the long-term
  management of research data generated in universities and the role of
  information professionals in such efforts. Finally, a prescriptive analysis
  based on the foregoing research activities will identify the skills,
  infrastructure, training, and other preparation needed for professionals
  charged with data management responsibilities. A CLIR report summarizing
  project findings will be published, together with a project website treating
  with these emerging topics.
</p>
<p>
  The second project, funded through $117K from the Sloan Foundation, will
  investigate alternative ways to build the professional capacity to handle
  digital data. This project will build upon an existing successful program that
  brings scholars into libraries, the Council on Library and Information
  Resources (CLIR) Postdoctoral Fellowship in Academic Libraries first by
  studying the effect of their work in the academy, second by developing a
  rigorous training program in data curation for individuals with domain
  expertise, and thirdly by proposing back to Sloan next steps in the testing,
  implementation and evaluation of sound data management curriculum to extend
  the CLIR postdoctoral program into the area of digital data curation.
</p>
<p>
  The goal of this session is to make the DLF community aware of these two
  projects, and to engage members of the DLF community in these two research
  endeavors early on by soliciting feedback, guidance, and participation.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10123541">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/martin-halbert/2011-dlfhalbertdata-res"
      target="_blank"
      >2011 dlf-halbert-data res</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10123541"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/martin-halbert" target="_blank"
      >martin-halbert</a
    >
  </div>
  <p></p>
</div>
<div style="width: 425px" id="__ss_10123899">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/sdkeralis/clirsloan-project-slides-dlf-forum"
      target="_blank"
      >CLIR/Sloan Project Slides DLF Forum</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10123899"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/sdkeralis" target="_blank">sdkeralis</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Martin Halbert</strong> (University of North Texas)<br />
  <strong>Lori Jahnke</strong> (College of Physicians)
</p>
