---
title: New Modes of Publishing
---

<p><em>Constellation C: Monday, October 31, 2:00 – 3:00PM</em></p>
<p>
  At the University of Michigan and at NYU, the university press and the library
  are merged, and experiments in print-on-demand and multimedia publishing are
  ongoing. The brand-new PressForward project at the Center for History and New
  Media at George Mason University is attempting to bypass scholarly presses
  altogether, trying to develop effective methods for aggregating scholarly
  content and building an open-source publishing platform. In this affiliated
  session with the unconference THATCamp Publishing (The Humanities and
  Technology Camp), we will work together to figure out what libraries need most
  right now in order to improve scholarly publishing. In true unconference
  style, we’ll figure out what exactly to do once we are all gathered together,
  but before that moment, here are only some of the many possible session
  activities:
</p>
<p>
  Co-writing a letter to be sent to college and university deans, provosts, and
  presidents outlining why scholarly publishing must be reformed and how
  university administrations can best support new modes of publishing; or
</p>
<p>
  Sketching out a workflow between authors, publishers, and libraries to ensure
  that scholarly works have linked bibliographies; or
</p>
<p>Planning a study or research project on new modes of publishing; or</p>
<p>
  Brainstorming ways in which institutional repositories can be repurposed into
  publishing platforms; or
</p>
<p>Other.</p>
<p>
  We’ll also have a chance in this session to discuss issues from THATCamp
  Publishing, and perhaps also to continue project work arising from that
  CLIR-sponsored event.
</p>
<h2>Session Resources</h2>
<p><a href="http://j.mp/libpub">New Modes of Publishing Google Doc</a></p>
<h2>Session Leaders</h2>
<p>
  <strong>Amanda French</strong>, THATCamp Coordinator, Roy Rosenzweig Center
  for History and New Media. Her primary professional interest is in teaching
  digital methods to the next generation of humanities scholars. She has pursued
  this interest both for the Digital History Across the Curriculum project at
  NYU and as a Council on Library and Information Resources Postdoctoral Fellow
  at NCSU. She earned her doctorate in English from the University of Virginia
  in 2004, where she encoded texts in TEI for the Rossetti Archive and the
  Electronic Text Center.
</p>
<p><strong>Monica McCormick</strong> (New York University)</p>
<p>
  <strong>Shana Kimball</strong> is Interim Head of MPublishing, the primary
  academic publishing division of the University of Michigan. In this role, she
  develops and promotes new publishing initiatives, in collaboration with
  scholars, publishers, librarians, and technologists. Shana is Editor of The
  Journal of Electronic Publishing, and Editor-at-Large for digitalculturebooks,
  an imprint of the University of Michigan Press in digital humanities and new
  media studies. She is also a member of the steering group of Open Humanities
  Press, an international publishing collective in critical and cultural theory.
  She holds an MA in English Literature from the University of Michigan.
</p>
<p>
  <strong>Amy Buckland</strong> is the eScholarship, ePublishing &amp;
  Digitization Coordinator at McGill University Library, where she is
  responsible for scholarly communication, publishing initiatives, and making
  rare items from special collections available to the world through
  digitization. She loves information almost as much as Fluevog shoes, and
  thinks academic libraryland is ripe for a revolution. You can find her online
  at informingthoughts.com and in most social networks as Jambina.
</p>
<p>
  <strong>Mike Furlough</strong> is Associate Dean for Research and Scholarly
  Communications at Penn State University. Joining Penn State in 2006 from the
  University of Virginia, he leads content stewardship services to support the
  life cycle of scholarly production, including curation, publication,
  preservation and outreach to researchers. He is one of the organizers of
  THATCamp Publishing, and the Taiga Forum, both held in conjunction with this
  DLF Forum.
</p>
<p>
  <strong>Joan Fragaszy Troyano, Ph.D.</strong>, is a Research Assistant
  Professor at George Mason University. At the Center for History and New Media,
  she is working with the PressForward initiative to explore and produce the
  best means for collecting, screening, and drawing attention to the vast
  expanse of scholarship that is currently decentralized across the web or does
  not fit into traditional genres such as the journal article or the monograph.
  She holds a PhD in American Studies from George Washington University.
</p>
