---
title: Project Managers Meeting
---

<p>
  <strong>Session Resources</strong><br />
  <a href="http://www.slideshare.net/tsierra/the-projectonepager"
    >The Project One-Pager</a
  >
  by Tito Sierra<br />
  <a
    href="http://www.slideshare.net/DLFCLIR/charter-nonstarter-by-eric-stedfeld-nyu"
    >Charter Non-Starter</a
  >
  by Eric Stedfeld<br />
  <a
    href="http://www.slideshare.net/DLFCLIR/katherine-kott-slides-for-dlf-pm-group-2011"
    >Managing Vendor Relationships in Development Projects</a
  >
  by Katherine Kott
</p>
