---
title: Public Service for Large-Scale Digital Collections
---

<p>
  <em>Constellation F: Monday, October 31, 3:30 – 5:00PM<br /> </em>
</p>
<p>
  Digital collections with large numbers of items (such as HathiTrust) or that
  cater to a broad audience (such as the proposed Digital Public Library of
  America) can attract large numbers of users. Many of those users have
  questions, encounter errors, or can suggest improvements as they use the
  collections.
</p>
<p>
  Engaging effectively with these users can greatly improve the quality and
  experience of our digital library collections. Public service is also an
  important mission and “brand” of libraries, and distinguishes us from
  high-volume but low-interaction commercial digital offerings.
</p>
<p>
  Libraries that provide access to large-scale digital collections face
  challenges in effectively soliciting user feedback, responding to the feedback
  in responsive and productive ways, and making the best use of limited
  resources in efficiently responding to it. They also need to adapt the skills
  and resources developed for walk-in desk service to online service to a global
  audience. Librarians with expertise in patron service and digital collection
  developers with technical expertise need to work together for best results.
</p>
<p>
  This working session is dedicated to sharing problems and information on how
  to provide effective public service for large-scale digital collections. We
  will open with short presentations from people who have long experience
  providing online public service for such collections. Chris Powell and Jeremy
  York of Michigan will discuss the main challenges and techniques for public
  service for HathiTrust. John Mark Ockerbloom of Penn will describe how service
  on The Online Books Page has adapted to increasing feedback with limited
  resources. Leslie Johnston will also discuss digital collection public service
  at the Library of Congress. We intend to devote much of the time for open
  discussion of the best ways of managing public service with a variety of
  digital collections.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10079589">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/ockerblo/public-service-for-largescale-digital-collections"
      target="_blank"
      >Public Service for Large-Scale Digital Collections</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10079589"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/ockerblo" target="_blank">ockerblo</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p><strong>John Mark Ockerbloom </strong>(University of Pennsylvania)</p>
<p><strong>Jeremy York</strong> (University of Michigan)</p>
<p><strong>Chris Powell</strong> (University of Michigan)</p>
<p>
  <strong>Leslie Johnston</strong>, Chief of Repository Development, Manager of
  Technical Architecture Initiatives for NDIIPP Library of Congress.
</p>
