---
title: Strategies for Video & Film Digitization
---

<p><em>Constellation C: Tuesday, November 1, 2:00 – 5:00PM</em></p>
<p>
  Currently, at many institutions, there is increased pressure to digitize video
  &amp; film materials on a large scale, or at least on a larger scale than what
  was done before. Among other factors, deteriorating analog materials held in
  special collections and the rapid obsolescence of playback equipment generate
  an increasing sense of urgency. These new expectations raise a number of
  challenging issues for digital library operations. The working session we
  propose will be an opportunity to share the strategies and plans our
  institutions are developing to tackle those issues. It will be run as an
  interactive group discussion, and will include topics such as:
</p>
<ul>
  <li>Workflows</li>
  <li>Storage</li>
  <li>
    Digitization as a preservation strategy (reformatting); development of
    tiered strategies to prioritize preservation and digitization needs
  </li>
  <li>
    Strategies to communicate about cost and technical issues with library
    administration and collection development specialists (e.g., what are the
    exact cost/technical implications of accepting donations of large
    collections of videotapes)
  </li>
  <li>
    Staffing &amp; expertise (who is doing what, what skills do we already have
    that translate to working with these collections, and where<br />
    do we find we have skill gaps); good places to develop staff expertise
    (professional organizations, conferences, etc.)
  </li>
  <li>Access, copyright and other policy implications</li>
  <li>
    Synergies with other campus priorities and projects, relation with other
    campus groups (e.g., campus-wide IT to secure very large storage capacity;
    online video services for teaching and learning, campus events, etc.)
  </li>
  <li>In house vs. outsourced digitization</li>
  <li>
    File formats &amp; digitization specifications, implications for storage
    needs
  </li>
  <li>Handling of born-digital video materials</li>
  <li>Metadata</li>
</ul>

<h2>Session Leaders</h2>
<p>
  <strong>Jon Dunn</strong> is Director of Library Technologies and Digital
  Libraries at Indiana University, where he directs the IU Digital Library
  Program and oversees IT support for the IU Bloomington Libraries. He is a
  member of the IU Bloomington Media Preservation Task Force and serves as
  Project Director for the IMLS-funded Variations on Video project, which is
  focused on building an open source digital media collections management and
  access system.
</p>
<p>
  <strong>Hannah Frost</strong> manages the Stanford Media Preservation Lab
  (SMPL), a facility established in 2008 for treating, digitally reformatting
  and making accessible original audio, video, and film materials in the
  collections of Stanford University Libraries. In the last year, SMPL digitized
  over 1,600 recordings for use by researchers, educators, curators, and media
  producers.
</p>
<p>
  <strong>Delphine Khanna</strong> is currently the Head of the Digital Library
  Initiatives department at Temple University. She provides leadership for this
  newly created department, helping the Library develop its digitization
  activities as well as build a robust digital infrastructure. She previously
  held several digital library positions at the University of Pennsylvania and
  Rutgers University.
</p>
<p>
  <strong>David Millman</strong>, Director of Digital Library Technology
  Services, has been at NYU since 2008. He previously held several roles at
  Columbia University, most recently as Senior Director of Research, Teaching
  and Learning Technologies in the Columbia IT unit. He was Managing Director of
  Technology for Columbia’s distance learning initiative, Digital Knowledge
  Ventures, and was the technology director for EPIC, the Electronic Publishing
  Initiative at Columbia. He also led technology R&amp;D, identity management,
  and content management groups there. Millman has developed and managed
  Internet-based services since the late 1980’s, including public information
  systems, reference book databases, art museum collections and electronic
  scholarly publications. A software developer since the 1970’s, he has taught
  programming and design in higher education and in industry.
</p>
<p>
  <strong>Claire Stewart</strong> is Head of the Digital Collections department
  and director of the Center for Scholarly Communication and Digital Curation at
  the Northwestern University Library. She directs the library¹s digitization
  programs, provides leadership and support for the library¹s scholarly
  communication efforts, and participates in broader digital repository and
  faculty digital initiatives.
</p>
<p>
  <strong>Jennifer Vinopal</strong> is New York University’s Librarian for
  Digital Scholarship Initiatives. She has a variety of roles at NYU including:
  Project Manager for NYU’s Digital Library Technology Services; Co-Head of the
  Digital Studio, NYU’s gateway to digital services supporting scholarship and
  teaching; and subject specialist for French and Italian language and
  literature. Her background is in humanities scholarship, library collection
  development, and public service. She is primarily interested in creating
  person to person services (on-site, remote, virtual, etc.) to encourage and
  support scholars’ use of technology for research, teaching and learning.
</p>
