---
title: TEI SIG Meeting
---

<p><em>Constellation F: Wednesday, November 2, 8:00 – 10:00AM</em></p>
<p>
  The TEI Consortium’s Special Interest Group (SIG) on Libraries (<a
    href="http://www.tei-c.org/Activities/SIG/Libraries/"
    >http://www.tei-c.org/Activities/SIG/Libraries/</a
  >) has recently completed a major revision to Best Practices for TEI in
  Libraries (<a href="http://purl.oclc.org/NET/teiinlibraries"
    >http://purl.oclc.org/NET/teiinlibraries</a
  >).
</p>
<p>
  The co-conveners of the SIG will hold an open session to hear from those
  interested in use of TEI in libraries to find out what activities the SIG
  should undertake next.
</p>
<p>
  We welcome all, from those simply curious about text encoding to those would
  like to become more involved in the work of the SIG.
</p>
