---
title: THATcamp Publishing
---

<p>
  <em
    >Constellation A: Sunday, October 30, 9:00AM – 5:00PM<br />
    (Breakfast in Harborview: 8:00 – 9:00AM)<br />
  </em>
</p>
<p>
  <a href="http://publishing2011.thatcamp.org/register/">THATCamp Publishing</a>
  will take place at the Hyatt Regency in downtown Baltimore, MD, all day on
  Sunday, October 30th. Doors will open at 8am for breakfast and badge pickup,
  with the first all-important scheduling session beginning at 9am, and things
  will wind up around 5pm. The next day, the 2011 Digital Library Fall Forum
  will get under way. There will be a suggested donation of $20 per person to
  help defray costs of coffee and breakfast, but you can participate for free if
  you like.
</p>
<p>
  New structures, tools, and services for scholarly publishing require new
  discussion venues and the development of new communities to nurture these
  discussions. THATCamp Publishing represents just such an experiment in
  community development. By creating a meeting place that brings together
  colleagues from libraries, publishing, museums, archives, and digital
  humanities centers, we hope to stimulate blue-sky thinking and pragmatic skill
  sharing in support of new forms of scholarly communication. To this end, the
  unconference is open to publishers, librarians, faculty and student scholars,
  archivists, museum professionals, interested amateurs, technologists,
  administrators, and funders from the nonprofit and for-profit sectors — any
  and all who want to advance scholarly publishing in and for a digital age.
</p>
<p>
  Sessions and speakers will be developed and decided by the community. Rather
  than the standard conference presentation, your particular session can take
  any of a number of casual and collaborative formats. Possible topics of
  discussion include:
</p>
<p>
  • What kind of scholarly publishing do we need right now? What are you trying
  to do? What projects seem promising to you?<br />
  • Assessing, developing, coordinating, and publicizing publishing services<br />
  • New approaches, techniques, collaborations<br />
  • Project management<br />
  • What is your experience with external services and software packages for
  publishing?<br />
  • What’s next in scholarly publishing?<br />
  • Doing design, usability, publicity, and other things on the cheap<br />
  • Social media and scholarly publishing<br />
  • Skills and training: who in your shop does what? How have you advertised,
  recruited, and trained?<br />
  • Best practices in writing agreements with authors or editors
</p>
<p>
  <strong
    ><a href="http://publishing2011.thatcamp.org/register/"
      >We will accept the first 75 registrants</a
    >; anyone who registers after that will be placed on a wait list in case of
    cancellations.</strong
  >
</p>
<p>
  <strong>Session Resources</strong><br />
  <a href="http://publishing2011.thatcamp.org/"
    >Notes, Google Docs, Discussions</a
  >
</p>
<h2>THATcamp Organizers</h2>
<p>
  <strong>Amanda French</strong>, THATCamp Coordinator, Roy Rosenzweig Center
  for History and New Media. Her primary professional interest is in teaching
  digital methods to the next generation of humanities scholars. She has pursued
  this interest both for the Digital History Across the Curriculum project at
  NYU and as a Council on Library and Information Resources Postdoctoral Fellow
  at NCSU. She earned her doctorate in English from the University of Virginia
  in 2004, where she encoded texts in TEI for the Rossetti Archive and the
  Electronic Text Center.<br />
  <strong
    ><br />
    Shana Kimball</strong
  >
  is Interim Head of MPublishing, the primary academic publishing division
  of&nbsp;the University of Michigan. In&nbsp;this role, she develops and
  promotes new publishing initiatives, in collaboration with scholars,
  publishers, librarians, and technologists. Shana is Editor
  of&nbsp;The&nbsp;Journal of Electronic Publishing, and Editor-at-Large for
  digitalculturebooks, an imprint of the University of Michigan Press in digital
  humanities and new media studies. She is also a member of the steering group
  of&nbsp;Open Humanities Press, an international publishing collective in
  critical and&nbsp;cultural theory. She holds an MA in English Literature from
  the University of Michigan.
</p>
<p>
  <strong>Kevin S. Hawkins</strong>, Head of Digital Publishing Production,
  University Library, University of Michigan<br />
  <strong
    ><br />
    Monica McCormick</strong
  >, Program Officer for Digital Scholarly Publishing, New York University
</p>
<p>
  <strong>Mike Furlough</strong> is Associate Dean for Research and Scholarly
  Communications at Penn State University. Joining Penn State in 2006 from the
  University of Virginia, he leads content stewardship services to support the
  life cycle of scholarly production, including curation, publication,
  preservation and outreach to researchers. He is also one of the organizers of
  the Taiga Forum, held in conjunction with this DLF Forum.
</p>
<p>
  <strong>Amy Buckland</strong> is the eScholarship, ePublishing &amp;
  Digitization Coordinator at McGill University Library, where she is
  responsible for scholarly communication, publishing initiatives, and making
  rare items from special collections available to the world through
  digitization. She loves information almost as much as Fluevog shoes, and
  thinks academic libraryland is ripe for a revolution. You can find her online
  at informingthoughts.com and in most social networks as Jambina.
</p>
<p>
  <strong>Joan F. Troyano</strong> is a Research Assistant Professor at George
  Mason University. At the Center for History and New Media, she is working with
  the PressForward initiative to explore and produce the best means for
  collecting, screening, and drawing attention to the vast expanse of
  scholarship that is currently decentralized across the web or does not fit
  into traditional genres such as the journal article or the monograph. She
  holds a PhD in American Studies from George Washington University.
</p>
