---
title: Towards A New Agenda for Humanities Data Curation
---

<p><em>Constellation D: Tuesday, November 1, 8:30 – 10:00AM</em></p>
<p>
  At the conclusion of the Digital Humanities 2011 Conference, the Data Curation
  Education Program for the Humanities (DCEP-H) and CenterNet convened a group
  of experts from the digital humanities, the digital library community, and
  major U.S. funding agencies to discuss strategies for improving the curation
  of digital humanities data. The timing of this summit reflected a belief that
  data curation, the active and on-going management of data from creation to
  re-use and long-term preservation, is now an emerging problem for the
  humanities, and that, more importantly, the convergence of digital library
  development and digital humanities research has created a unique opportunity
  to re-imagine divisions of labor, educational policies and practices, and the
  public role of the humanities.
</p>
<p>
  Summit participants identified four key activities that could have a
  substantial even radical impact on the evolution of institutions, professions,
  and scholarship over the next decade:
</p>

<ul>
  <li>
    Make data curation a key form of public engagement and advocacy for the
    humanities.
  </li>
  <li>
    Integrate the training of prospective scholars and information professionals
    into an interdisciplinary curriculum on scholarly communication and data
    curation.
  </li>
  <li>
    Realign professional roles, responsibilities, and promotion/tenure criteria
    with changes in institutional needs as well as practices and tools for
    curating data.
  </li>
  <li>
    Re-analyze the content of data curation curricula to support involvement by
    information professionals at deeper levels and earlier stages in the data
    development process.
  </li>
</ul>

<p>
  Building on these materials as well as further analysis, we are developing
  specific recommendations for changes in workforce training and staffing,
  education, and institutional support. A final version of a white paper
  presenting our results will be completed in Winter 2011.
</p>
<p>
  Interested session participants can review the agenda and issues paper from
  the post-Digital Humanities 2011 Humanities Data Curation Summit at the summit
  website [<a href="http://cirssweb.lis.illinois.edu/paloalto/"
    >http://cirssweb.lis.illinois.edu/paloalto/</a
  >]. Using key themes from the earlier meeting as a springboard, this session
  will continue the discussion began in Palo Alto, eliciting additional ideas
  and issues from from the digital library community as well as take steps
  toward refining and operationalizing community engagement with curation of
  humanities data.
</p>
<p>
  DCEP-H is an IMLS-funded project hosted by the Center for Informatics Research
  in Science and Scholarship (CIRSS) at the Graduate School of Library and
  Information Science, University of Illinois, Urbana-Champaign.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Allen Renear</strong> is a faculty member at the Graduate School of
  Library and Information Science, University of Illinois at Urbana-Champaign,
  where he teaches courses and leads research in information modeling, data
  curation, and digital publishing. He is involved in a number of data curation
  projects in the GSLIS Center for Informatics Research in Science and
  Scholarship (CIRSS).
</p>
<p>
  <strong>Trevor Muñoz</strong> is Associate Director of the Maryland Institute
  for Technology in the Humanities (MITH) as well as Assistant Dean for Digital
  Humanities Research at the University of Maryland Libraries. Trevor holds an
  MA in Digital Humanities from the Department of Digital Humanities at King’s
  College London and a MS in Library and Information Science from the Graduate
  School of Library and Information Science at the University of Illinois,
  Urbana-Champaign. He specializes in curation of humanities data, with a
  particular emphasis on developing joint research ventures between libraries
  and digital humanities research centers.
</p>
<p>
  <strong>Katherine L. Walter</strong> is the Chair of Digital Initiatives &amp;
  Special Collections in the University of Nebraska–Lincoln (UNL) Libraries, and
  co-directs the Center for Digital Research in the Humanities at UNL with
  Kenneth Price. A joint initiative of the University of Nebraska–Lincoln
  Libraries and the UNL College of Arts &amp; Sciences, the Center for Digital
  Research in the Humanities is advancing collaborative, interdisciplinary
  research by creating unique digital content, developing text analysis and
  visualization tools, and encouraging the use and refinement of international
  standards.
</p>
