---
title: Training Librarians and Staff for the New Data Environment
---

<p><em>Constellation C: Tuesday, November 1, 8:30 – 10:00AM</em></p>
<p>
  This session is designed to address critical needs for training in libraries,
  as the shifts in the larger information environment undermine our traditional
  understanding of our roles and goals. The developers of these materials, Karen
  Coyle, Diane Hillmann, Gordon Dunsire and Jon Phipps, have significant
  experience presenting on these issues in a variety of library and technical
  venues. The session has three parts, with discussion and feedback welcomed at
  each phase:
</p>
<p>
  Part 1: The presenters will discuss the various audiences for training in
  libraries, as well as the benefits and limitations of the current strategies
  for provision of cost-effective training. We will discuss our rationale for
  organizing materials, review the current outline, and discuss costs and
  choices in process for the program.
</p>
<p>
  Part 2: A presentation of a discrete section of the materials, the session
  entitled: “From Metadata to a Web of Data”. This session will introduce the
  basic concepts necessary to understand and participate in the development of
  new models for web-friendly metadata. The emphasis will be on the key elements
  needed to publish library data in the Linked Data space, in the context of the
  general principles for usable modern data. Covered in this session will be: a
  brief introduction to relevant Semantic Web and Linked Open Data standards;
  data types and data uses; identifiers and URIs; metadata ‘statements’ and
  their role in the Web of Data.
</p>
<p>
  Part 3: A structured feedback session, covering the training program plan, the
  content and presentation of the section.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10061144">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/smartbroad/metadata-training-for-staff-and-librarians-for-the-new-data-environment"
      target="_blank"
      >Metadata Training for Staff and Librarians for the New Data
      Environment</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10061144"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div style="padding: 5px 0 12px">
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/smartbroad" target="_blank"
      >Diane I. Hillmann</a
    >
  </div>
  <p></p>
</div>
<h2>Session Leader</h2>
<p>
  <strong>Diane Hillmann</strong> is currently a partner in the consulting firm
  Metadata Management Associates and Director of Metadata Initiatives at the
  Information Institute of Syracuse. From 1977 to 2008 she was associated with
  Cornell University Library, as a Law cataloger, technical services manager,
  and manager of authorities and maintenance processes for the Cornell Library’s
  database. She also participated in the Cornell portion of the National Science
  Digital Library Core Infrastructure as Director of Library Services and
  Operations between 2000-2005. (http://nsdl.org) Diane was a liaison to and
  member of MARBI from the late 1980’s to 2000, specializing in the Holdings and
  Authorities formats, which lead to her early participation in the Dublin Core
  Metadata Initiative. She is currently a member of the DCMI Advisory Board, was
  co-Program Chair for the DC-2010 and DC-2011 conferences in Pittsburgh and The
  Hague.
</p>
