---
title: 'UDFR: A Semantic Registry for Format Representation Information'
---

<p><em>Constellation C: Monday, October 31, 3:30 – 4:15PM</em></p>
<p>
  A deep understanding of the diverse digital formats used to represent content
  is fundamental to effective long-term preservation analysis, planning, and
  intervention. The Unified Digital Format Registry project (UDFR,
  <a href="https://bitbucket.org/udfr/main/wiki/Home"
    >https://bitbucket.org/udfr/main/wiki/Home</a
  >) will provide an open source platform for an online, semantically-enabled
  registry of significant format representation information, building on the
  data modeling experience and collection activities of the existing PRONOM and
  GDFR registries and supporting a superset of their combined features. The UDFR
  project, now at its midpoint, uses a semantic wiki to manage and expose its
  holdings as linked data for interoperability with the semantic web. UDFR
  project staff have evaluated a number of potential semantic platforms for use
  as the core of the UDFR technology stack, finally choosing OntoWiki and the
  Virtuoso triple store on the basis of their comprehensive feature sets. This
  research update will review the progress to date – including stakeholder
  community building, ontology development, and technology evaluation – and
  describe plans for the remainder of the UDFR project activities leading
  towards an operational registry initially populated with an export of PRONOM
  and GDFR data early in 2012.
</p>
<h2>Session Resources</h2>
<div style="width: 425px" id="__ss_10074314">
  <strong style="display: block; margin: 12px 0 4px"
    ><a
      href="http://www.slideshare.net/DLFCLIR/dlf-2011udfrasemanticregistryforformatrepresentationinformationv1-10074314"
      target="_blank"
      >Dlf
      2011UDFR-a-semantic-registry-for-format-representation-information-v1</a
    ></strong
  >
  <iframe
    src="https://www.slideshare.net/slideshow/embed_code/10074314"
    width="425"
    height="355"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
  ></iframe>
  <p></p>
  <div>
    View more
    <a href="http://www.slideshare.net/" target="_blank">presentations</a> from
    <a href="http://www.slideshare.net/DLFCLIR" target="_blank">DLFCLIR</a>
  </div>
  <p></p>
</div>
<h2>Session Leaders</h2>
<p>
  <strong>Stephen Abrams</strong> is the associate director of the UC Curation
  Center (UC3) at the California Digital Library (CDL), with responsibilities
  for strategic planning, innovation, and operation of UC3’s systems, services,
  and projects.
</p>
<p>
  <strong>Lisa Dawn Colvin</strong> is the project manager for the Unified
  Digital Format Registry (UDFR) project at the California Digital Library
  (CDL). Previous to joining the CDL, she developed naming, identification and
  metadata standards for the NASA Constellation Program Data Architecture
  (CxDA).
</p>
<p>
  <strong>Abhishek Salve</strong> has been developing web applications for over
  5 years. Prior to joining the California Digital Library (CDL), he developed
  web applications using HTML, PHP, Java Script, and MySQL technologies. His
  interest in web application began with his work as a PHP programmer in a
  startup company in India.
</p>
