---
title: Workshop on Web Accessibility in Digital Libraries
---

<p><em>Constellation F: Tuesday, November 1, 8:30 – 10:00AM</em></p>
<p>
  <strong
    >This workshop is limited to 40 participants. If you are registered for the
    Forum and would like to participate in this workshop, please leave your full
    name in the comments section below. The first 40 to comment will make the
    participant list, the next 5 after that will be on the wait list. After 45
    comments have been posted, the comments section will close and the lists
    will be posted on this page.</strong
  >
</p>
<p>
  Participants are asked to bring a laptop on which they have the capability of
  installing browser plug-ins and add-ons. <strong>UPDATE:</strong> Firefox
  browser extensions will be involved in this workshop. It is not required to
  install these extensions, but in order to save time, participants who wish to
  use these extensions are encouraged to install them before the workshop.
  <a href="http://juliehardesty.com/webaccess/install/"
    >Installation instructions</a
  >
  are available for all browser extensions that will be used in the workshop.
</p>
<p>
  In this workshop, techniques will be shared for evaluating online digital
  library resources for web accessibility and offer ways to solve common
  problems of inaccessibility. Web accessibility means considering all abilities
  and disabilities when designing or choosing an online resource. Providing an
  online resource that is accessible improves the experience for everyone,
  including those with disabilities. While there is no substitute for actual
  user testing, there are many tools available that can expose potential
  accessibility barriers for issues like screen reading software, color
  contrast, keyboard-only use, and mobile device use.
</p>
<p>
  The workshop will begin with participants learning how web accessibility tools
  can help evaluate an online digital library resource for accessibility. Next,
  participants will review a manageable set of web accessibility tools out of
  the many useful tools available (the workshop will also cover ways to find web
  accessibility tools). Then, the workshop will go hands-on and participants
  will try these tools by evaluating a site of the participant’s choosing
  (preferably something from the participant’s own digital library). Based on
  these evaluations, participants will learn the benefits and limitations of
  using web accessibility tools and the meaning of results from web
  accessibility evaluations for recommending or making changes. Techniques to
  solve common web accessibility issues will be shared. By the end of this
  session, participants will be empowered to support accessibility of online
  digital library resources, providing improved access and improved overall
  experience to everyone, including those with disabilities.
</p>
<h2>Session Leader</h2>
<p>
  <strong>Julie Hardesty</strong> has worked in the Indiana University Digital
  Library Program for almost 4 years and is active in the IT
  Accessibility/Usability Working Group within the Committee on Institutional
  Cooperation (CIC). She has been involved in web development, usability, and
  web accessibility at Indiana University since 2000.
</p>
