---
title: 'Supporting Digital Humanities in the Library'
layout: page.njk
---

<p>
  <em>Constellation B: Tuesday, November 1, 10:30AM to 12:00PM</em>
</p>
<p>
  The information landscape has evolved in recent decades, resulting in an
  existential crisis for academic libraries. Activities we’ve taken for granted
  for more than a century (research and publishing models, our services, our
  content) need to be redefined in partnership with our users. Meanwhile,
  patrons demand new kinds of support and new modes of collaboration. In this
  panel, representatives from two academic libraries will describe their
  research into the changing roles of academic librarians in the humanities. At
  New York University, librarians are exploring new service models to support
  digital scholarly research, collaboration, and sharing. At Emory University,
  librarians are experimenting with a new model for how a library can lead and
  collaborate with scholars in digital humanities activity.
</p>
<p>
  NYU’s current project is to better understand the research and publishing
  needs of scholars in the humanities at NYU and to develop service and staffing
  models to support new web-based forms of scholarly communication. We have
  talked to peer institutions that support these modes of scholarship and have
  interviewed NYU faculty to learn about what they need in this domain. The
  resulting report will identify a set of unmet user needs at NYU and will
  propose possible service and staffing models to address them. We will briefly
  describe our research and early findings.
</p>
<p>
  A representative from the Emory University Libraries will describe librarians’
  initial steps to meet these challenges, based on local experience and a
  nationwide ARLSPEC survey of research libraries’ digital humanities offerings.
  With the support of a three-year Mellon grant, Emory Libraries are building a
  program to support digital humanities research, with an emphasis on
  scholar-librarian collaboration. This experimental program is designed to
  address the observation (both from the Emory community and respondents to the
  ARL-SPEC survey) that libraries are already participating in digital
  humanities projects in many ways. But librarians often piece together support
  for digital projects from multiple library or campus units, and they seldom
  have formal procedures in place for managing scholars’ expectations,
  apportioning developers’ time, and defining projects’ long-term future. To
  address these concerns, Emory’s digital scholarship program aims to be fluid,
  dynamic, and responsive to experiences on the ground.
</p>
<p>
  In the discussion that follows these brief presentations, we aim to produce a
  shared understanding of the important questions we still need to answer,
  staffing needs and skill gaps, and some emerging best practices, methods, and
  tools to be successful.
</p>
<p>
  Of particular interest to us are: new service models adopted at other
  libraries and presses; evolving staff roles and skills needed to sustain these
  efforts; the relationship between enterprise services, one-off projects, and
  R&amp;D; and successful models for ongoing partnership among scholars,
  libraries, and presses.
</p>
<h2>Session Leaders</h2>
<p>
  <strong>Jennifer Vinopal</strong> is New York University’s Librarian for
  Digital Scholarship Initiatives. She has a variety of roles at NYU including:
  Project Manager for NYU’s Digital Library Technology Services; Co-Head of the
  Digital Studio, NYU’s gateway to digital services supporting scholarship and
  teaching; and subject specialist for French and Italian language and
  literature. Her background is in humanities scholarship, library collection
  development, and public service. She is primarily interested in creating
  person to person services (on-site, remote, virtual, etc.) to encourage and
  support scholars’ use of technology for research, teaching and learning.
</p>
<p>
  <strong>Monica McCormick</strong> leads the Office for Digital Scholarly
  Publishing at New York University, reporting jointly to the Division of
  Libraries and NYU Press. She initiates and supports services for digital
  publishing at both organizations, as well as collaborations between them. She
  is a librarian with long experience in scholarly publishing, having worked for
  15 years at the University of California Press, mainly as the editor for
  history and ethnic studies.
</p>
<p>
  <strong>Tim Bryson</strong> is the Librarian for South Asian Studies and
  Religious Studies at Emory University. With Alain St. Pierre, Tim also serves
  as coordinator of Emory Libraries’ Digital Librarians Initiative. Tim earned
  his Ph.D. at the University of Chicago.
</p>
<p>
  <strong>Miriam Posner</strong> is a Mellon Postdoctoral Fellow for Emory
  University Libraries’ Digital Scholarship Commons. She helped to research,
  design, and plan this new digital humanities center, and is now managing
  projects, conducting outreach, and heading up its grad fellows program. She
  received her Ph.D. in Film Studies and American Studies from Yale University.
</p>
<p>
  <strong>Alain St. Pierre</strong> is Humanities Librarian for European History
  and Philosophy at Emory University. He currently serves as Coordinator for
  Emory Libraries’ Digital Librarians Initiative. Alain received an M.A. in
  History from the University of Notre Dame and an MSIS from the University of
  Texas.
</p>
