---
title: '2011 DLF Fall Forum Fellows'
layout: page.njk
---

<h2 class="bigred">2011 DLF Fall Forum Fellows</h2>

<h3 class="pb-3">DLF Forum Fellowships for Librarians New to the Profession</h3>
<p>
  <strong>DLF FALL FORUM 2011: Baltimore, MD</strong><br />
  <br />October 31 – November 1, 2011<br />
  &nbsp;
</p>
<p><strong>DEADLINE FOR APPLICATIONS</strong>: Monday, October 10th, 2011.</p>
<p><strong>RATIONALE</strong></p>
<p>
  Our digital library operations often contain librarians, staff, and assistants
  who are lively, intellectually engaged, and inquisitive, but who are not
  always routinely funded to travel to conferences where they can learn more
  about the library profession, see digital initiatives from other institutions,
  and meet leaders in the profession.
</p>
<p>
  We all have an interest in encouraging newcomers to the profession, and to
  further this aim the DLF is pleased to re-introduce the DLF Forum Fellowships.
  The Forum remains an excellent place to hear about the latest advances in
  digital librarianship, to meet new colleagues and contacts, and to get
  involved with DLF initiatives. For more information, please see:
  https://www.diglib.org/dlf-events/
</p>
<p><strong>THE AWARD</strong></p>
<p>
  Three awards of up to $1,000 each to go towards the travel, board, and lodging
  expenses of attending a DLF Forum. Additionally, the fellows will each receive
  complimentary full registration to the Forum.
</p>
<p><strong>ELIGIBILITY</strong></p>
<p>
  Nominations must come from DLF member institutions (although it is possible
  for a DLF member to nominate an individual from any other academic library).
</p>
<p>
  Each DLF member institution is permitted to submit one candidate per Forum for
  this award.
</p>
<p>The following full and part-time individuals are eligible:</p>
<ul>
  <li>
    Library employees (faculty, librarians, or staff) at DLF member institutions
    who have been in the profession for 3 years or less; and whose work is
    wholly or predominantly in some area of the digital library.
  </li>
</ul>
<ul>
  <li>
    Graduate and undergraduate student assistants at DLF member institutions
    who, although only working part-time, make a significant contribution to a
    digital library endeavor and who may be considering a digital library
    career.
  </li>
</ul>
<p>
  Please note: each DLF member institution is permitted to submit one candidate
  per Forum for this award.
</p>
<p><strong>APPLICATION</strong></p>
<p>
  Send an email by Monday, October 10th containing electronic copies of the
  following items to jwinberry@clir.org, with the email subject line of “Fall
  Forum 2011 Fellowship Application: [your name here]”:
</p>
<ul>
  <li>
    Personal statement from the candidate (ca. 500 words) explaining their
    educational background, what their Digital Library involvement is, why they
    are excited about Digital Library work, and how they see themselves
    benefiting from a DLF Forum.
  </li>
</ul>
<ul>
  <li>
    Cover letter of nomination from their University Librarian, Program
    Director, Division Head, or Associate University Librarian.
  </li>
</ul>
<ul>
  <li>A current résumé.</li>
</ul>
<p>
  Optional letters of support such as those from a supervisor, a library
  colleague, or a library patron are welcome and permitted, but not required.
</p>
<p><strong>EVALUATION</strong></p>
<p>
  Candidates will be selected by the Forum Program Committee. In assessing the
  applications, the Committee will look for a demonstrated commitment to digital
  library work as evidenced by work experience and academic background, and will
  consider the degree to which forum participation might influence the
  applicant’s decision to pursue a digital library career. They will also make
  sure that the applicants meet the basic eligibility requirements. Fellows will
  be notified by October 17th, 2011.
</p>
<p>2011 Forum Program Committee:</p>
<p>
  Charles Blair<br />
  Declan Fleming<br />
  Kevin Hawkins<br />
  Delphine Khanna<br />
  Bethany Nowviskie<br />
  David Reynolds<br />
  Jenn Riley<br />
  Melanie Schlosser<br />
  Sarah Shreeves<br />
  Joan Starr<br />
  Jennifer Vinopal<br />
  Melissa Wisner
</p>
