---
title: 'Call for Proposals'
layout: page.njk
eleventyNavigation:
  key: Call for Proposals
  order: 2
---

<h2 class="bigred">2011 DLF Forum Call for Proposals</h2>
<p>
  The 2011 Digital Library Federation (DLF) Forum is seeking proposals for
  presentations, panel discussions, workshops, research updates, and hands-on,
  problem-solving sessions. The Forum is a working meeting where DLF members
  come together to do better work through sharing and collaboration.
  Participation is open to all those interested in contributing to and playing
  an active part in the successful future of digital libraries, museums and
  archives services and collections.
</p>
<p>
  Managing digital content from cradle to grave is a complex challenge for
  library, museum, and archives operations. It requires creative and
  collaborative approaches. In that spirit, and to maximize the Forum’s benefit
  and better facilitate the community’s work, the Forum’s schedule will provide
  many opportunities to actively engage and network.
</p>
<p>
  For the 2011 Fall Forum, the Program Planning Committee is requesting
  proposals within the broad framework of digital collections and their effect
  on libraries, museums and archives services, infrastructure, resources, and
  organizational priorities. The topics under consideration are:
</p>
<ul>
  <li>Data management and the roles institutional services play</li>
  <li>Data management policies</li>
  <li>
    Relationship between and possible convergence of digital humanities and
    digital libraries
  </li>
  <li>Open-source tools</li>
  <li>Preservation of born digital content</li>
  <li>Examination of digital library systems</li>
  <li>Linked Open Data: continuing the LOD-LAM conversation</li>
  <li>
    The Digital Public Library of America effort and other large-scale digital
    libraries
  </li>
  <li>Digital libraries and personal digital archives</li>
  <li>
    Strategic collaboration bringing libraries, museums and other cultural
    heritage institutions together
  </li>
</ul>
<p>
  We welcome proposals on these and other topics from current community members
  and non-members who are interested in joining the DLF community.
</p>
<p><strong>Session genres include:</strong></p>
<ul>
  <li>
    <em>Presentations and Panels</em>: Traditional lecture format with
    question-and-answer sessions.
  </li>
  <li>
    <em>Workshops</em>: In-depth, hands-on training about a tool, technique,
    workflow, etc. You can recommend a topic or trainer, or you can volunteer to
    share your own expertise.
  </li>
  <li>
    <em>Research Updates</em>: An opportunity for those working in digital
    collections research efforts to present their preliminary findings for
    community feedback and discussion.
  </li>
  <li>
    <em>Working Sessions</em>: Creative problem solvers, including project
    managers, developers, and/or administrators, gather to address a specific
    problem. This does not have to be a computational problem. The approach can
    be applied to workflow issues, metadata transformations, or other complex
    problems that would benefit from a collective, dynamic solution approach.
  </li>
  <li>
    <em>Demos</em>: Variation on a poster session or lightning talks. Presenters
    will demonstrate tools or services they have developed or are using in their
    digital library environment.
  </li>
</ul>

<p>
  <strong>Proposal Submission Guidelines and Evaluation Procedures</strong>
</p>
<p>
  Complete proposals should be submitted using the online submission
  form&nbsp;by&nbsp;<del><strong> July 22, 2011&nbsp;</strong></del
  ><br />
  July 29, 2011. Proposals must include a title, session leader, session genre,
  proposal description (maximum 400 words), and proposal abstract (maximum 100
  words). After an initial review by the Program Planning Committee, all
  proposals will be posted on the DLF website for community polling. Those
  submitting complete proposals will be notified of their status by September 9,
  2011. Presenters will be guaranteed a registration place.
</p>
<p>
  The 2011 Fall Forum will be held at the Hyatt Regency Hotel in Baltimore, MD
  October 31–November 2, 2011.
</p>
