---
title: 'Forum Ride/Room Share Board'
layout: page.njk
eleventyNavigation:
  key: Forum Ride/Room Share Board
  order: 1
---

<h2 class="bigred">Forum Ride/Room Share Board</h2>

<p>
  Please use this space to coordinate ride and room share for the 2011 DLF Forum
  in Baltimore, MD. If you are looking for a roommate, someone to share a cab
  from the airport/train station, or someone to drive with, simply post to the
  comments below!
</p>
