---
title: '2011 DLF Forum: Baltimore, MD'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2 class="bigred py-4">2011 DLF Forum: Baltimore, MD</h2>

<p>
  The 2011 DLF Forum will be held on October 31–November 1, 2011, with pre- and
  post-conference events on October 30, November 2, and November 3. The
  conference will take place in Baltimore, Maryland at the
  <a href="http://www.baltimore.hyatt.com/hyatt/hotels/index.jsp"
    >Hyatt Regency</a
  >.&nbsp; Participation is open to all who are interested in contributing to
  and playing an active part in the successful future of digital libraries,
  museum and archives services, and collections. The Forum will feature
  presentations and panels, workshops, research updates, working sessions,
  demos, and more. Please visit our
  <a href="https:/www.diglib.org/dlf-events/2011forum/schedule/">Schedule</a>
  page to learn more about our program.
</p>
<p>
  <strong
    >Online registration closed at 5PM ET on Wednesday, October 26. If you would
    still like to register, please contact jwinberry [at] clir [dot] org for
    details.</strong
  >
</p>
<p>
  To receive the most recent news about the forum, subscribe to the
  <a href="https:/www.diglib.org/category/forum/feed/">Forum Newsfeed</a>.
</p>
<p>
  Use the hash tag
  <a href="http://twitter.com/#!/search/realtime/%23dlfforum">#dlfforum</a> to
  tweet about the DLF Forum!
</p>
<p>
  The DLF is making an effort to keep our conference as green as possible. Our
  badge holders are compostable, we will provide plenty of filtered water in
  place of bottled, and we are cutting down on the amount of paper used. In this
  vein, we would like participants to keep in mind there will be a limited
  amount of printed schedules available at the registration desk. If you would
  like a hard copy of the schedule, please print at home. Or download the free
  Guidebook app and search “DLF Forum” to get our schedule on your phone!
</p>
{#
<h2>Recent Forum News</h2>
<ul class="pe-5">
  <li>
    <a
      href="https:/www.diglib.org/2024/09/the-virtual-dlf-forum-featured-speaker-is-andrea-jackson-gavin/"
      >The Virtual DLF Forum Featured Speaker is… Andrea Jackson Gavin!</a
    >
    <br /><span class="fst-italic">September 4, 2024</span>
    <div class="lcp_excerpt">
      We're excited to share that Andrea Jackson Gavin, Program Director for the
      HBCU Digital Library Trust, will be the Virtual DLF Forum Featured
      Speaker! Andrea will present, “Advancing the HBCU Digital Library Trust
      through Relationship-Building” during the opening plenary on October 22,
      11am ET USA. Learn more about her and her
      talk:&nbsp;https://forum2024.diglib.org/virtual-featured-speaker/. The DLF
      Forum welcomes digital ...
    </div>
  </li>
  <li>
    <a
      href="https:/www.diglib.org/2024/07/2024-virtual-dlf-forum-program-available-registration-now-open/"
      >2024 Virtual DLF Forum Program Available &amp; Registration Now Open</a
    >
    <br /><span class="fst-italic">July 9, 2024</span>
    <div class="lcp_excerpt">
      The Council on Library and Information Resources is pleased to announce
      that the program is available and registration is now open for the virtual
      Digital Library Federation’s (DLF) Forum happening online this fall,
      October 22-23, 2024. Browse the program Register here to secure your spot
      The DLF Forum welcomes digital library, archives, and museum practitioners
      from member institutions ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2024/05/2024-in-person-forum-program/"
      >2024 In-Person DLF Forum Program Now Available</a
    >
    <br /><span class="fst-italic"> May 1, 2024</span>
    <div class="lcp_excerpt">
      The Council on Library and Information Resources is pleased to announce
      that the program is now available for the in-person Digital Library
      Federation’s (DLF) Forum happening at Michigan State University in East
      Lansing, MI, July 29-31, 2024. The program for the in-person event is
      available here. We are also pleased to announce our featured speakers,
      Kathleen Fitzpatrick ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2024/05/call-for-host-2025-dlf-forum/"
      >Call for Host of the 2025 DLF Forum</a
    >
    <br /><span class="fst-italic">May 1, 2024</span>
    <div class="lcp_excerpt">
      Apply Here Updated June 11, 2024: The deadline has been extended through
      Friday, June 28, 2024! The Digital Library Federation (DLF) cordially
      invites libraries, museums, cultural heritage organizations, and academic
      institutions (or a combination of collaborating organizations) to submit
      expressions of interest in hosting the in-person 2025 DLF Forum.&nbsp; The
      DLF Forum is a multi-day immersive experience dedicated ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2024/04/2024-virtual-forum-cfp/"
      >Be a Part of the 2024 Virtual DLF Forum: Submit Your Proposal Today</a
    >
    <br /><span class="fst-italic">April 11, 2024</span>
    <div class="lcp_excerpt">
      The Council on Library and Information Resources is pleased to announce
      that we have opened the Call for Proposals for the virtual Digital Library
      Federation’s (DLF) Forum happening online, October 22-23, 2024. We
      encourage proposals from members and non-members; regulars and newcomers;
      digital library practitioners from all sectors (higher education, museums
      and cultural heritage, public libraries, ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2024/02/forum-feedback-event-sessions/"
      >Forum Feedback: Insights from the DLF Community on Event Sessions</a
    >
    <br /><span class="fst-italic">February 20, 2024</span>
    <div class="lcp_excerpt">
      &nbsp; Welcome to our Forum Feedback series, a space dedicated to
      gathering insights from our vibrant community. Here we delve into the
      ever-changing conference landscape, exploring themes such as health,
      safety, accessibility, affordability, and sustainability. Follow along as
      we share data, insights, and thought-provoking discussions aimed at
      shaping the future of gatherings with inclusivity at the ...
    </div>
  </li>
  <li>
    <a
      href="https:/www.diglib.org/2024/02/be-a-part-of-the-2024-dlf-forum-submit-your-proposal-today/"
      >Be a Part of the 2024 DLF Forum: Submit Your Proposal Today</a
    >
    February 1, 2024
    <div class="lcp_excerpt">
      The Council on Library and Information Resources is pleased to announce
      that we have opened the Call for Proposals for the in-person Digital
      Library Federation's (DLF) Forum happening at Michigan State University in
      East Lansing, MI, July 29-31, 2024. Note that CLIR/DLF will issue a
      separate call later this spring for the virtual event taking place ...
    </div>
  </li>
  <li>
    <a
      href="https:/www.diglib.org/2023/12/fellow-reflection-marianne-swierenga/"
      >Fellow Reflection: Marianne Swierenga</a
    >
    <br /><span class="fst-italic">December 20, 2023</span>
    <div class="lcp_excerpt">
      This post was written by Marianne Swierenga, who attended the 2023 DLF
      Forum as a GLAM Cross-Pollinator. The views and opinions expressed in this
      blog post are solely those of the author and do not necessarily reflect
      the official policy or position of the Digital Library Federation or
      CLIR.&nbsp; Marianne Swierenga is the Cataloging and Metadata ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2023/12/fellow-reflection-azad-namazie/"
      >Fellow Reflection: Azad Namazie</a
    >
    <br /><span class="fst-italic">December 19, 2023</span>
    <div class="lcp_excerpt">
      This post was written by Azad Namazie, who attended the 2023 DLF Forum as
      a Forum Fellow. The views and opinions expressed in this blog post are
      solely those of the author and do not necessarily reflect the official
      policy or position of the Digital Library Federation or CLIR.&nbsp; Azad
      Namazie is a digital preservationist in ...
    </div>
  </li>
  <li>
    <a href="https:/www.diglib.org/2023/12/fellow-reflection-evelyn-davis/"
      >Fellow Reflection: Evelyn Davis</a
    >
    <br /><span class="fst-italic">December 18, 2023</span>
    <div class="lcp_excerpt">
      This post was written by Evelyn Davis who attended the 2023 DLF Forum as a
      Forum Fellow. The views and opinions expressed in this blog post are
      solely those of the author and do not necessarily reflect the official
      policy or position of the Digital Library Federation or CLIR.&nbsp; Hello,
      My name is Evelyn Davis and ...
    </div>
  </li>
</ul>
#}
