---
title: 'Participants'
layout: page.njk
eleventyNavigation:
  key: Participants
  order: 1
---

<h2 class="bigred">2011 DLF Forum Participants</h2>
<p class="my-4">
  DLF Forum participants are listed below. If you want contact information for a
  participant, please use this
  <a
    href="{{ '/assets/files/2011ForumParticipantsList_FINAL.pdf' | url }}"
    rel="nofollow"
    >PDF of the 2011 DLF Forum Participants List</a
  >.
</p>

<div class="dlfparticipants">
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Stephen Abrams</div>
    <div class="col dlfp-title">Associate Director, UC Curation Center</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Akerman</div>
    <div class="col dlfp-title">Technology and Metadata Librarian</div>
    <div class="col dlfp-org">Emory University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Viral Amin</div>
    <div class="col dlfp-title">Metadata Management Librarian</div>
    <div class="col dlfp-org">George Washington University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kristin Anderson</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">LOC</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jordon Andrade</div>
    <div class="col dlfp-title">E-Science Librarian</div>
    <div class="col dlfp-org">Florida State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kristin Antelman</div>
    <div class="col dlfp-title">Assoc. Director for the Digital LIbrary</div>
    <div class="col dlfp-org">North Carolina State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joanne Archer</div>
    <div class="col dlfp-title">Collections Curator, Special Collections</div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Emily Arkin</div>
    <div class="col dlfp-title">Editor for Digital Publication Development</div>
    <div class="col dlfp-org">Harvard University Press</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kenning Arlitsch</div>
    <div class="col dlfp-title">Associate Dean for IT Services</div>
    <div class="col dlfp-org">University of Utah</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Dale Askey</div>
    <div class="col dlfp-title">AUL, Library &amp; Learning Technologies</div>
    <div class="col dlfp-org">McMaster University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cathy Aster</div>
    <div class="col dlfp-title">Project Manager</div>
    <div class="col dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shawn Averkamp</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">University of Alabama</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Chris Louis Awre</div>
    <div class="col dlfp-title">Head of Information Management</div>
    <div class="col dlfp-org">University of Hull</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Helen Bailey</div>
    <div class="col dlfp-title">Preservation Specialist</div>
    <div class="col dlfp-org">Dartmouth College Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jefferson Bailey</div>
    <div class="col dlfp-title">Office of Strategic Initiatives</div>
    <div class="col dlfp-org">Library of Congree</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Stu Baker</div>
    <div class="col dlfp-title">
      Associate University Librarian for Library Technology
    </div>
    <div class="col dlfp-org">Northwestern University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Bang</div>
    <div class="col dlfp-title">
      Special &amp; Digital Collections Curatorial Assistant
    </div>
    <div class="col dlfp-org">Falvey Library, Villanova University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Chad Barker</div>
    <div class="col dlfp-title">Manger, Digital Operations</div>
    <div class="col dlfp-org">Corporation of the President</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Alison Bassett</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">WGBH</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shane Beers</div>
    <div class="col dlfp-title">Digital Preservation Librarian</div>
    <div class="col dlfp-org">University of Michigan</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tali Beesley</div>
    <div class="col dlfp-title">Forum Fellow</div>
    <div class="col dlfp-org">UNC Chapel Hill</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Marvin Bielawski</div>
    <div class="col dlfp-title">Deputy University Librarian</div>
    <div class="col dlfp-org">Princeton University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Josh Bishoff</div>
    <div class="col dlfp-title">
      Visiting Ethics &amp; Search Services Librarian
    </div>
    <div class="col dlfp-org">University of Illinois</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Charles Blair</div>
    <div class="col dlfp-title">
      Co-Director, Digital Library Development Center
    </div>
    <div class="col dlfp-org">University of Chicago Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Karim Boughida</div>
    <div class="col dlfp-title">Assicuate Uni.Librarian</div>
    <div class="col dlfp-org">George Washington University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Paul Bracke</div>
    <div class="col dlfp-title">Associate Dean</div>
    <div class="col dlfp-org">Purdue University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tim Bryson</div>
    <div class="col dlfp-title">Librarian</div>
    <div class="col dlfp-org">Emory University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Amy Buckland</div>
    <div class="col dlfp-title">
      eScholarship, ePublishing &amp; digitization coordinator
    </div>
    <div class="col dlfp-org">McGill University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Burtle</div>
    <div class="col dlfp-title">
      Associate Dean – Digital Library Services and Special Collections
    </div>
    <div class="col dlfp-org">Georgia State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Carolyn Caizzi</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Yale University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Ann Caldwell</div>
    <div class="col dlfp-title">Head, Imaging &amp; Metadata Services</div>
    <div class="col dlfp-org">Brow border-top py-3n University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Priscilla Caplan</div>
    <div class="col dlfp-title">Assistant Director</div>
    <div class="col dlfp-org">FCLA</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Karen Cariani</div>
    <div class="col dlfp-title">Director, WGBH Media Library and Archives</div>
    <div class="col dlfp-org">WGBH Educational Foundation</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kris Carpenter</div>
    <div class="col dlfp-title">Director, Web Group</div>
    <div class="col dlfp-org">Internet Archive</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Todd Carpenter</div>
    <div class="col dlfp-title">Executive Director</div>
    <div class="col dlfp-org">NISO</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sayeed Choudhury</div>
    <div class="col dlfp-title">Associate Dean</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Daniel Chudnov</div>
    <div class="col dlfp-title">Director, Scholarly Technology</div>
    <div class="col dlfp-org">GWU Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Susan Chun</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Independent Researcher and Museum Consultant</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kevin Clair</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">Penn State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Maureen Clements</div>
    <div class="col dlfp-title">Librarian</div>
    <div class="col dlfp-org">National Public Radio</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Peter Cline</div>
    <div class="col dlfp-title">Software Developer</div>
    <div class="col dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jim Coleman</div>
    <div class="col dlfp-title">Information Techology Project Manager</div>
    <div class="col dlfp-org">University of Arizona Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Perry Collins</div>
    <div class="col dlfp-title">Program Officer</div>
    <div class="col dlfp-org">National Endowment for the Humanities</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lisa Colvin</div>
    <div class="col dlfp-title">UDFR project manager</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Bill Comstock</div>
    <div class="col dlfp-title">Head of Imaging Services</div>
    <div class="col dlfp-org">Harvard Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Yolanda Cooper</div>
    <div class="col dlfp-title">Deputy University Librarian</div>
    <div class="col dlfp-org">University of Miami Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Bill Corey</div>
    <div class="col dlfp-title">Scientific Data Consultant</div>
    <div class="col dlfp-org">Uuniversity of Virginia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Angela Courtney</div>
    <div class="col dlfp-title">Head of Arts &amp; Humanities</div>
    <div class="col dlfp-org">Indiana University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tom Cramer</div>
    <div class="col dlfp-title">Chief Technology Strategist</div>
    <div class="col dlfp-org">Stanford University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kim Cumber</div>
    <div class="col dlfp-title">Non-Textual Materials Unit</div>
    <div class="col dlfp-org">North Carolina State Archives</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Bradley Daigle</div>
    <div class="col dlfp-title">Director, Digital Curation Services</div>
    <div class="col dlfp-org">University of Virginia</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tyler Danstrom</div>
    <div class="col dlfp-title">Programmer Analyst</div>
    <div class="col dlfp-org">University of Chicago</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Esha Datta</div>
    <div class="col dlfp-title">Programmer/Analyst</div>
    <div class="col dlfp-org">New York University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Stephen P Davis</div>
    <div class="col dlfp-title">Director, Libraries Digital Program</div>
    <div class="col dlfp-org">Columbia University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mark Dehmlow</div>
    <div class="col dlfp-title">Head, Library Web Department</div>
    <div class="col dlfp-org">University of Notre Dame</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Peter Dietz</div>
    <div class="col dlfp-title">Software Developer</div>
    <div class="col dlfp-org">Ohio State University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tim DiLauro</div>
    <div class="col dlfp-title">Digital Library Architect</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Molly Dolan</div>
    <div class="col dlfp-title">
      Digital Initiatives and Scholarly Communications Librarian
    </div>
    <div class="col dlfp-org">West Virginia University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jackie Dooley</div>
    <div class="col dlfp-title">Program Officer</div>
    <div class="col dlfp-org">OCLC Research</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Robert Duncan</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Lafayette College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jon Dunn</div>
    <div class="col dlfp-title">
      Director of Library Technologies and Digital Libraries
    </div>
    <div class="col dlfp-org">Indiana University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Naomi Dushay</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Stanford University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Anne Elguindi</div>
    <div class="col dlfp-title">Director of Information Delivery Services</div>
    <div class="col dlfp-org">American University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Nancy Elkington</div>
    <div class="col dlfp-title">Director, Partner Relations</div>
    <div class="col dlfp-org">OCLC Research</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">John Ellinger</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Emory University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Nancy Fallgren</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">National Library of Medicine</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Melanie Feltner-Reichert</div>
    <div class="col dlfp-title">Head, Digital Library Initiatives</div>
    <div class="col dlfp-org">University of Tennessee</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Catherine Fitch</div>
    <div class="col dlfp-title">Associate Director</div>
    <div class="col dlfp-org">University of Minnesota</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Rick Fitzgerald</div>
    <div class="col dlfp-title">Librarian</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Declan Fleming</div>
    <div class="col dlfp-title">Director of IT</div>
    <div class="col dlfp-org">UCSD</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Megan Forbes</div>
    <div class="col dlfp-title">Collection Manager</div>
    <div class="col dlfp-org">Museum of the Moving Image</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kevin Ford</div>
    <div class="col dlfp-title">Digital Project Coordinator</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Heidi Frank</div>
    <div class="col dlfp-title">
      E-Resources/Special Formats Cataloging Librarian
    </div>
    <div class="col dlfp-org">New York University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Meghan Frazer</div>
    <div class="col dlfp-title">Digital Resource Librarian</div>
    <div class="col dlfp-org">Kenyon College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Amanda French</div>
    <div class="col dlfp-title">THATCamp Coordinator</div>
    <div class="col dlfp-org">
      Roy Rosenzweig Center for HIstory and New Media, GMU
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Ann Frenkel</div>
    <div class="col dlfp-title">
      Associate University Librarian for Research and Instructional Services
    </div>
    <div class="col dlfp-org">UC Riverside</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Rachel Frick</div>
    <div class="col dlfp-title">Director, Digital Library Federation</div>
    <div class="col dlfp-org">CLIR/DLF</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Friscia</div>
    <div class="col dlfp-title">
      Manager, Digital Library and Programming Services
    </div>
    <div class="col dlfp-org">Yale University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Hannah Frost</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jeremy Frumkin</div>
    <div class="col dlfp-title">Assistant Dean for Technology Strategy</div>
    <div class="col dlfp-org">University of Arizona Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mike Furlough</div>
    <div class="col dlfp-title">Associate Dean</div>
    <div class="col dlfp-org">Penn State</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">William Garrison</div>
    <div class="col dlfp-title">Dean, USF Libraries</div>
    <div class="col dlfp-org">University of South Florida</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cynthia Ghering</div>
    <div class="col dlfp-title">Director</div>
    <div class="col dlfp-org">Michigan State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Giarlo</div>
    <div class="col dlfp-title">Digital Library Architect</div>
    <div class="col dlfp-org">
      Digital Library Technologies, Pennsylvania State University
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Wendy Gogel</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Harvard University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joshua Gomez</div>
    <div class="col dlfp-title">Digital Library Programmer Analyst</div>
    <div class="col dlfp-org">George Washington University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Justin Gonder</div>
    <div class="col dlfp-title">eScholarship Operations Coordinator</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Emily Gore</div>
    <div class="col dlfp-title">
      Associate Dean for Digital Scholarship &amp; Technology Services
    </div>
    <div class="col dlfp-org">Florida State University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Gottesman</div>
    <div class="col dlfp-title">Digital Reference Specialist</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Don Gourley</div>
    <div class="col dlfp-title">Associate Director for ISD</div>
    <div class="col dlfp-org">USDA, ARS, NAL</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cheryl Gowing</div>
    <div class="col dlfp-title">
      Director, Information Management &amp; Systems
    </div>
    <div class="col dlfp-org">University of Miami Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Todd Grappone</div>
    <div class="col dlfp-title">AUL – Dig Init and IT</div>
    <div class="col dlfp-org">UCLA</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Harriett Green</div>
    <div class="col dlfp-title">English and Digital Humanities Librarian</div>
    <div class="col dlfp-org">University of Illinois at Urbana-Champaign</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Toby Greenwalt</div>
    <div class="col dlfp-title">Virtual Services Coordinator</div>
    <div class="col dlfp-org">Skokie Public Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lisa Gregory</div>
    <div class="col dlfp-title">
      Digital Project Liaison, Digital Information Management Program
    </div>
    <div class="col dlfp-org">State Library of North Carolina</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Gretchen Gueguen</div>
    <div class="col dlfp-title">Digital Archivist</div>
    <div class="col dlfp-org">University of Virginia</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Betsy Gunia</div>
    <div class="col dlfp-title">Data Management Consultant</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Emily Gustainis</div>
    <div class="col dlfp-title">Collections Services Archivist</div>
    <div class="col dlfp-org">
      Center for the History of Medicine, Countway Library, Harvard Medical
      School
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tom Habing</div>
    <div class="col dlfp-title">Manager, Software Development Group</div>
    <div class="col dlfp-org">University of Illinois Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Martin Halbert</div>
    <div class="col dlfp-title">Dean of UNT Libraries</div>
    <div class="col dlfp-org">Univ. of North Texas</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Nathan Hall</div>
    <div class="col dlfp-title">VTechWorks Librarian</div>
    <div class="col dlfp-org">Virginia Tech</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michelle Renee Hammond</div>
    <div class="col dlfp-title">Associate Director of Public Svces</div>
    <div class="col dlfp-org">Morgan State Univ/Earl S Richardson Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Myung-Ja (mj) Han</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">University of Illinois</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sean Hannan</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Sheridan Libraries, Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Ladd Hanson</div>
    <div class="col dlfp-title">Head, Library Systems</div>
    <div class="col dlfp-org">University of Texas at Austin</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Juliet Hardesty</div>
    <div class="col dlfp-title">User Interface Design Specialist</div>
    <div class="col dlfp-org">Indiana University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Corey Harper</div>
    <div class="col dlfp-title">Metadata Services Librarian</div>
    <div class="col dlfp-org">New York University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Amy Harrell</div>
    <div class="col dlfp-title">Digital Projects Librarian</div>
    <div class="col dlfp-org">Trinity College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kevin Hawkins</div>
    <div class="col dlfp-title">Head, Digital Publishing Production</div>
    <div class="col dlfp-org">MPublishing, University of Michigan Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jason Heldreth</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Illinois</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kirk Hess</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">University of Illinois Urbana-Champaign</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Nate Hill</div>
    <div class="col dlfp-title">Web Librarian</div>
    <div class="col dlfp-org">Dr. Martin Luther King Jr. Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Diane Hillmann</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Metadata Management Associates</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Barrie Howard</div>
    <div class="col dlfp-title">NDIIPP Program Management Coordinator</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Patricia Hswe</div>
    <div class="col dlfp-title">Digital Collections Curator</div>
    <div class="col dlfp-org">Penn State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Salwa Ismail</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Georgetown University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lori Jahnke</div>
    <div class="col dlfp-title">
      S. Gordon Castigliano Director of Digital Library Initiatives
    </div>
    <div class="col dlfp-org">College of Physicians of Philadelphia</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Ronald Jantz</div>
    <div class="col dlfp-title">Digital Library Architect</div>
    <div class="col dlfp-org">Rutgers University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Rick Johnson</div>
    <div class="col dlfp-title">
      Unit Manager, Digital Library Applications Unit
    </div>
    <div class="col dlfp-org">University of Notre Dame</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Leslie Johnston</div>
    <div class="col dlfp-title">Chief of Repository Development</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Carl Jones</div>
    <div class="col dlfp-title">Digital Library Systems Manager</div>
    <div class="col dlfp-org">Massachusetts Institute of Technology</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Paul Joseph</div>
    <div class="col dlfp-title">Systems Librarian</div>
    <div class="col dlfp-org">University of British Columbia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Martin Kalfatovic</div>
    <div class="col dlfp-title">Associate Director</div>
    <div class="col dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Eric Kansa</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">UC Berkeley / Open Context</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jessie Keck</div>
    <div class="col dlfp-title">Software Developer</div>
    <div class="col dlfp-org">Stanford University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Spencer Keralis</div>
    <div class="col dlfp-title">Postdoctoral Research Assoc.</div>
    <div class="col dlfp-org">Univ. of North Texas</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Delphine Khanna</div>
    <div class="col dlfp-title">Head of Digital Library Initiatives</div>
    <div class="col dlfp-org">Temple University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shana Kimball</div>
    <div class="col dlfp-title">Interim Head, MPublishing</div>
    <div class="col dlfp-org">MPublishing, University of Michigan Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Elizabeth Kirk</div>
    <div class="col dlfp-title">Assoc. Librarian for Information Resources</div>
    <div class="col dlfp-org">Dartmouth College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Katherine Kott</div>
    <div class="col dlfp-title">
      Project Manager/ArchivesSpace Development Manager
    </div>
    <div class="col dlfp-org">Stanford University Libraries/ArchivesSpace</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Betsy Kruger</div>
    <div class="col dlfp-title">Head, Digital Content Creation</div>
    <div class="col dlfp-org">
      University of Illinois at Urbana-Champaign Library
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jim Kuhn</div>
    <div class="col dlfp-title">Head of Collection Information Services</div>
    <div class="col dlfp-org">Folger Shakespeare Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">John Kunze</div>
    <div class="col dlfp-title">Associate Director, UC3</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Louisa Kwasigroch</div>
    <div class="col dlfp-title">Business Development Manager</div>
    <div class="col dlfp-org">Quatrefoil Associates</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">David Lacy</div>
    <div class="col dlfp-title">Library Software Development Specialist</div>
    <div class="col dlfp-org">Villanova University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sherry Lake</div>
    <div class="col dlfp-title">Senior Scientific Data Consultant</div>
    <div class="col dlfp-org">University of Virginia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Daniel Lanz</div>
    <div class="col dlfp-title">Managing Director</div>
    <div class="col dlfp-org">CCS Content Conversion Specialists GmbH</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Lascarides</div>
    <div class="col dlfp-title">Senior Manager for Web Initiatives</div>
    <div class="col dlfp-org">New York Public Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">William LeFurgy</div>
    <div class="col dlfp-title">Digital Initiative</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Amalia Levi</div>
    <div class="col dlfp-title">Ph.D. student</div>
    <div class="col dlfp-org">iSchool, UMD</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jennie Levine Knies</div>
    <div class="col dlfp-title">Manager, Digital Collections</div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">David Lindahl</div>
    <div class="col dlfp-title">Co-Executive Director</div>
    <div class="col dlfp-org">
      eXtensible Catalog Organization, University of Rochester
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Elisabeth Long</div>
    <div class="col dlfp-title">
      Co-director, Digital Library Development Center
    </div>
    <div class="col dlfp-org">University of Chicago Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Brian Lowe</div>
    <div class="col dlfp-title">VIVO Semantic Development Technical Lead</div>
    <div class="col dlfp-org">Cornell University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Eric Luhrs</div>
    <div class="col dlfp-title">Digital Initiatives Librarian</div>
    <div class="col dlfp-org">Lafayette College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lyn MacCorkle</div>
    <div class="col dlfp-title">Digital Repositories Librarian</div>
    <div class="col dlfp-org">University of Miami, Richter Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mikki Macdonald</div>
    <div class="col dlfp-title">Metadata Archivist</div>
    <div class="col dlfp-org">MIT</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Elizabeth Madden</div>
    <div class="col dlfp-title">Digital Media Projects Coordinator</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Christa Maher</div>
    <div class="col dlfp-title">Digital Media Project Coordinator</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jane Mandelbaum</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mary Manning</div>
    <div class="col dlfp-title">Digital Collection Coordinator</div>
    <div class="col dlfp-org">Cushing Library and Archives, TAMU</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Richard Marciano</div>
    <div class="col dlfp-title">Professor</div>
    <div class="col dlfp-org">UNC Chapel Hill</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">John Mark Ockerbloom</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mairéad Martin</div>
    <div class="col dlfp-title">Senior Director</div>
    <div class="col dlfp-org">Penn State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mark Matienzo</div>
    <div class="col dlfp-title">Technical Architect, ArchivesSpace</div>
    <div class="col dlfp-org">Yale University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Monica McCormick</div>
    <div class="col dlfp-title">Digital Publishing Officer</div>
    <div class="col dlfp-org">NYU Libraries / NYU Press</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Janet McCue</div>
    <div class="col dlfp-title">Associate University Librarian</div>
    <div class="col dlfp-org">Cornell University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shana McDanold</div>
    <div class="col dlfp-title">
      EResources and Serials Cataloging Librarian
    </div>
    <div class="col dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Robert H McDonald</div>
    <div class="col dlfp-title">
      Associate Dean for Library Technologies and Digital Libraries
    </div>
    <div class="col dlfp-org">Indiana University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sandra McIntyre</div>
    <div class="col dlfp-title">
      Program Manager, Mountain West Digital Library
    </div>
    <div class="col dlfp-org">Utah Academic Library Consortium</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Betsy McKelvey</div>
    <div class="col dlfp-title">Digital Collections Librarian</div>
    <div class="col dlfp-org">Boston College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Andrea Medina-Smith</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Natl. Inst. of Stds. &amp; Tech.</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Andrea Medina-Smith</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">NIST</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Julie Meloni</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Virginia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Holly Mercer</div>
    <div class="col dlfp-title">
      Head of Digital Services &amp; Scholarly Communication
    </div>
    <div class="col dlfp-org">Texas A&amp;M University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Elliot Metsger</div>
    <div class="col dlfp-title">Sr. Software Engineer</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Gabrielle Michalek</div>
    <div class="col dlfp-title">Head, Archives/Digital Library Initiatives</div>
    <div class="col dlfp-org">Carnegie Mellon University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">James Michalko</div>
    <div class="col dlfp-title">Vice President</div>
    <div class="col dlfp-org">OCLC Research</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">William Michener</div>
    <div class="col dlfp-title">Professor and DataONE Director</div>
    <div class="col dlfp-org">
      University of New Mexico, University Libraries and DataONE
    </div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lori Miller</div>
    <div class="col dlfp-title">Program Associate</div>
    <div class="col dlfp-org">CLIR</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">David Millman</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">NYU</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">William Mischo</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Illinois</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Erik Mitchell</div>
    <div class="col dlfp-title">Assistant Professor</div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Mary Molinaro</div>
    <div class="col dlfp-title">Associate Dean for Library Technologies</div>
    <div class="col dlfp-org">University of Kentucky Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Deb Morley</div>
    <div class="col dlfp-title">Head of Specialized Content and Services</div>
    <div class="col dlfp-org">MIT Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Steven Morris</div>
    <div class="col dlfp-title">Head, Digital Library Initiatives</div>
    <div class="col dlfp-org">NCSU Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sheila Morrissey</div>
    <div class="col dlfp-title">Sr. Research Developer</div>
    <div class="col dlfp-org">ITHAKA</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Engy Morsy</div>
    <div class="col dlfp-title">Project Manager</div>
    <div class="col dlfp-org">Bibliotheca Alexandrina</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Trevor Munoz</div>
    <div class="col dlfp-title">
      Assistant Dean for Digital Humanities Research
    </div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Roel Munoz</div>
    <div class="col dlfp-title">Library Digital Imaging Manager</div>
    <div class="col dlfp-org">Princeton University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Scott Nesbit</div>
    <div class="col dlfp-title">
      Associate Director, Digital Scholarship Lab
    </div>
    <div class="col dlfp-org">University of Richmond</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Quyen Nguyen</div>
    <div class="col dlfp-title">Systems Architect</div>
    <div class="col dlfp-org">National Archives and Records Administration</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kent Norsworthy</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Texas at Austin</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Johan Oberg</div>
    <div class="col dlfp-title">Digital Services Librarian</div>
    <div class="col dlfp-org">Macalester College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Patrick OBrien</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">RevXcorp.com</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Olson</div>
    <div class="col dlfp-title">Digital Collections Project Manager</div>
    <div class="col dlfp-org">Stanford University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Alberto Ortiz Flores</div>
    <div class="col dlfp-title">Programmer/Analyst – Interface Designer</div>
    <div class="col dlfp-org">New York University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Terry Owen</div>
    <div class="col dlfp-title">
      Coordinator, Digital Repository at the University of Maryland (DRUM)
    </div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Trevor Owens</div>
    <div class="col dlfp-title">Digital Archivist</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Carole Pilkinton</div>
    <div class="col dlfp-title">Assoc Director for Information Systems</div>
    <div class="col dlfp-org">University of Notre Dame</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Suzanne Pilsk</div>
    <div class="col dlfp-title">Librarian</div>
    <div class="col dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Dot Porter</div>
    <div class="col dlfp-title">
      Associate Director for Content &amp; Services
    </div>
    <div class="col dlfp-org">Indiana University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Miriam Posner</div>
    <div class="col dlfp-title">Mellon Postdoctoral Fello</div>
    <div class="col dlfp-org">Emory University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Abbey Potter</div>
    <div class="col dlfp-title">Program Officer</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sarah Potvin</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">Texas A&amp;M Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Chris Powell</div>
    <div class="col dlfp-title">Coordinator, Text Services</div>
    <div class="col dlfp-org">University of Michigan</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Barbara Pralle</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Leah Prescott</div>
    <div class="col dlfp-title">Digital Projects Coordinator</div>
    <div class="col dlfp-org">Getty Research Institute</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Terry Reese</div>
    <div class="col dlfp-title">
      Gray Family Chair for Innovative Library Services
    </div>
    <div class="col dlfp-org">Oregon State University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Allen Renear</div>
    <div class="col dlfp-title">Professor</div>
    <div class="col dlfp-org">GSLIS, University of Illinois U-C</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">David Reynolds</div>
    <div class="col dlfp-title">Mgr., Scholarly Digital Initiatives</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joel Richard</div>
    <div class="col dlfp-title">Lead Web Developer</div>
    <div class="col dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jenn Riley</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">UNC-Chapel Hill</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joanne Riley</div>
    <div class="col dlfp-title">University Archivist</div>
    <div class="col dlfp-org">University of Massachusetts Boston</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kyle Rimkus</div>
    <div class="col dlfp-title">Head of Digital Scholarship and Programs</div>
    <div class="col dlfp-org">University of Miami</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Wendy Robertson</div>
    <div class="col dlfp-title">Digital Scholarship Librarian</div>
    <div class="col dlfp-org">University of Iowa</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jonathan Rochkind</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Richard Rodgers</div>
    <div class="col dlfp-title">Head, SDA MIT LIbraries</div>
    <div class="col dlfp-org">MIT</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jason Ronallo</div>
    <div class="col dlfp-title">Digital Collections Technology Librarian</div>
    <div class="col dlfp-org">NCSU Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tip Ros Chantrabot</div>
    <div class="col dlfp-title">System Engineer</div>
    <div class="col dlfp-org">CCS</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Chelcie row border-top py-3ell</div>
    <div class="col dlfp-title">MSLS Candidate</div>
    <div class="col dlfp-org">UNC Chapel Hill</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Erin Sackett-Hermann</div>
    <div class="col dlfp-title">Data Curation Education Program Fellow</div>
    <div class="col dlfp-org">UIUC GSLIS</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Bess Sadler</div>
    <div class="col dlfp-title">Manager for Application Development</div>
    <div class="col dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sibyl Schaefer</div>
    <div class="col dlfp-title">
      Supervisory Archivist for Web Development and Administration
    </div>
    <div class="col dlfp-org">Rockefeller Archive Center</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Melanie Schlosser</div>
    <div class="col dlfp-title">Metadata Librarian</div>
    <div class="col dlfp-org">The Ohio State University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Nadia Seiler</div>
    <div class="col dlfp-title">Rare Materials Cataloger</div>
    <div class="col dlfp-org">Folger Shakespeare Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Yi Shen</div>
    <div class="col dlfp-title">CLIR Postdoctoral Fellow</div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kelcy Shepherd</div>
    <div class="col dlfp-title">Head of Digital Programs</div>
    <div class="col dlfp-org">Amherst College Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jackie Shieh</div>
    <div class="col dlfp-title">Librarian IV</div>
    <div class="col dlfp-org">George Washingotn University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Elliott Shore</div>
    <div class="col dlfp-title">
      CIO &amp; Director of Libraries &amp; Professor of History
    </div>
    <div class="col dlfp-org">Bryn Mawr College</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Sarah Shreeves</div>
    <div class="col dlfp-title">Coordinator, IDEALS</div>
    <div class="col dlfp-org">UIUC</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Tito Sierra</div>
    <div class="col dlfp-title">
      Associate Head, Digital Library Initiatives
    </div>
    <div class="col dlfp-org">NCSU Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Gregg Silvis</div>
    <div class="col dlfp-title">
      Assistant Director for Library Computing Systems
    </div>
    <div class="col dlfp-org">University of Delaware Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Smart</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Caltech</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Roger Smith</div>
    <div class="col dlfp-title">Head, Collections Support Services</div>
    <div class="col dlfp-org">UCSD Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Adam Soroka</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">University of Virginia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Bronwen Sprout</div>
    <div class="col dlfp-title">Digital Initiatives Coordinator</div>
    <div class="col dlfp-org">University of British Columbia Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Alain St. Pierre</div>
    <div class="col dlfp-title">Humanities Librarian</div>
    <div class="col dlfp-org">Emory University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shannon Stark</div>
    <div class="col dlfp-title">Strategic Projects Librarian</div>
    <div class="col dlfp-org">University of North Texas</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joan Starr</div>
    <div class="col dlfp-title">
      Manager, EZID Service and Strategic &amp; Project Planning
    </div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Eric Stedfeld</div>
    <div class="col dlfp-title">Project Manager</div>
    <div class="col dlfp-org">NYU Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Claire Stewart</div>
    <div class="col dlfp-title">
      Head, Digital Collections and Scholarly Communication Services
    </div>
    <div class="col dlfp-org">Northwestern University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jon Stroop</div>
    <div class="col dlfp-title">Metadata Analyst</div>
    <div class="col dlfp-org">Princeton University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Ed Summers</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Winston Tabb</div>
    <div class="col dlfp-title">
      Sheridna Dean of Univer Libraries &amp; Museums
    </div>
    <div class="col dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Linda Thomas</div>
    <div class="col dlfp-title">Sales Director</div>
    <div class="col dlfp-org">Newgen Knowledge Works</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Keri Thompson</div>
    <div class="col dlfp-title">Head, Web Services Department</div>
    <div class="col dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Helen Tibbo</div>
    <div class="col dlfp-title">Alumni Distinguished Professor</div>
    <div class="col dlfp-org">UNC-Chapel Hill</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Brian Tingle</div>
    <div class="col dlfp-title">Technical Lead</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cecilia Tittemore</div>
    <div class="col dlfp-title">Head, Cataloging and Metadata Services</div>
    <div class="col dlfp-org">Dartmouth College Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Vickie Toranzo</div>
    <div class="col dlfp-title">Grad Student</div>
    <div class="col dlfp-org">University of South Florida</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joan Troyano</div>
    <div class="col dlfp-title">Assistant Professor</div>
    <div class="col dlfp-org">George Mason Universiy</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Shu-chen Tsung</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">Georgetown University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Beverly Turner</div>
    <div class="col dlfp-title">Digital Operations Coordinator</div>
    <div class="col dlfp-org">MIT Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Matt Utterback</div>
    <div class="col dlfp-title">Vice President</div>
    <div class="col dlfp-org">Digital Divide Data</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jason Varghese</div>
    <div class="col dlfp-title"></div>
    <div class="col dlfp-org">New York Public Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jennifer Vinopal</div>
    <div class="col dlfp-title">
      Librarian for Digital Scholarship Initiatives
    </div>
    <div class="col dlfp-org">New York University, Bobst Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Christopher Vinson</div>
    <div class="col dlfp-title">Interim Head Digital Initiatives</div>
    <div class="col dlfp-org">Clemson University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jon Voss</div>
    <div class="col dlfp-title">Strategic Partnerships Director</div>
    <div class="col dlfp-org">Historypin</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Günter Waibel</div>
    <div class="col dlfp-title">Director, Digitization Program Office</div>
    <div class="col dlfp-org">Smithsonian Institution</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Katherine Walter</div>
    <div class="col dlfp-title">Professor and Chair</div>
    <div class="col dlfp-org">University of Nebraska-Lincoln</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cheryl Walters</div>
    <div class="col dlfp-title">Head, Digital Initiatives</div>
    <div class="col dlfp-org">Utah State University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Robin Wendler</div>
    <div class="col dlfp-title">Senior Analyst</div>
    <div class="col dlfp-org">Harvard University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Martha Whittaker</div>
    <div class="col dlfp-title">Director of Content Management</div>
    <div class="col dlfp-org">George Washington University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Thomas Whittaker</div>
    <div class="col dlfp-title">Metadata Librarian/Audiovisual Cataloger</div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Lois Widmer</div>
    <div class="col dlfp-title">Associate Director for E-Research</div>
    <div class="col dlfp-org">Brandeis University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Perry Willett</div>
    <div class="col dlfp-title">Digital Preservation Services Manager</div>
    <div class="col dlfp-org">California Digital Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Christa Williford</div>
    <div class="col dlfp-title">Program Officer</div>
    <div class="col dlfp-org">CLIR</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jena Winberry</div>
    <div class="col dlfp-title">Administrative Associate, DLF</div>
    <div class="col dlfp-org">CLIR</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Winkler</div>
    <div class="col dlfp-title">Director of IT</div>
    <div class="col dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Melissa Wisner</div>
    <div class="col dlfp-title">Manager of Enterprise Systems</div>
    <div class="col dlfp-org">Yale University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Michael Witt</div>
    <div class="col dlfp-title">Assistant Professor</div>
    <div class="col dlfp-org">Purdue University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Andrew Woods</div>
    <div class="col dlfp-title">Software Engineer</div>
    <div class="col dlfp-org">DuraSpace</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Andy Woodworth</div>
    <div class="col dlfp-title">Librarian</div>
    <div class="col dlfp-org">N/A</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Glen Worthey</div>
    <div class="col dlfp-title">Digital Humanities Librarian</div>
    <div class="col dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Laura Wrubel</div>
    <div class="col dlfp-title">Electronic Resources Content Manager</div>
    <div class="col dlfp-org">George Washington University Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Timberly Wuester</div>
    <div class="col dlfp-title">Digital Media Project Coordinator</div>
    <div class="col dlfp-org">Library of Congress</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Clifford E Wulfman</div>
    <div class="col dlfp-title">Digital Initiatives Coordinator</div>
    <div class="col dlfp-org">Princeton University Library</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Joel Wurl</div>
    <div class="col dlfp-title">Sr. Program Officer</div>
    <div class="col dlfp-org">National Endowment for the Humanities</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Zhiwu Xie</div>
    <div class="col dlfp-title">Technology Development Librarian</div>
    <div class="col dlfp-org">Virginia Tech</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Kristen Yarmey</div>
    <div class="col dlfp-title">Digital Services Librarian</div>
    <div class="col dlfp-org">University of Scranton</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Amy Yeager</div>
    <div class="col dlfp-title">
      Graduate Assistant (Collection Mgmt. &amp; Scholarly Communication)
    </div>
    <div class="col dlfp-org">University of Maryland</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Cynthia York</div>
    <div class="col dlfp-title">Project Manager</div>
    <div class="col dlfp-org">JHU, Sheridan Libraries</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Jeremy York</div>
    <div class="col dlfp-title">HathiTrust Project Librarian</div>
    <div class="col dlfp-org">HathiTrust</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Patrick Yott</div>
    <div class="col dlfp-title">Director, Library Technology</div>
    <div class="col dlfp-org">Northeastern University</div>
  </div>
  <div class="row border-top py-3">
    <div class="col dlfp-name fw-bold">Matt Zumwalt</div>
    <div class="col dlfp-title">Founder</div>
    <div class="col dlfp-org">MediaShelf &amp; Hydra Project</div>
  </div>
</div>
