---
title: 'Registration'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong
    >Online registration closed at 5PM ET on Wednesday, October 26. If you would
    still like to register for the Forum or any post-conference events, please
    contact jwinberry [at] clir [dot] org for details. Registration for THATcamp
    Publishing is open until full.</strong
  >
</p>
<p>
  Please note that Taiga 7 and THATcamp participants may register for the Forum
  at the DLF Member rate.
</p>
<p>
  To register for <strong>THATcamp</strong>, please
  <a href="http://publishing2011.thatcamp.org/register/" target="_blank"
    >click here</a
  >
  (or visit http://publishing2011.thatcamp.org/register/).
</p>

<table class="table">
  <tbody>
    <tr>
      <th colspan="2">
        <h2>DLF Forum</h2>
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <h3>Members</h3>
      </th>
    </tr>
    <tr>
      <td>Full Conference</td>
      <td>$275</td>
    </tr>
    <tr>
      <td>1-Day</td>
      <td>$150</td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>Non-Members</h3>
      </th>
    </tr>
    <tr>
      <td>Full-Conference</td>
      <td>$500</td>
    </tr>
    <tr>
      <td>1-Day</td>
      <td>$250</td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>Full-Time LIS Graduate Students</h3>
      </th>
    </tr>
    <tr>
      <td>Full Conference</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>1-Day</td>
      <td>$125</td>
    </tr>
    <tr>
      <th colspan="2">
        <h2>Affiliated Events</h2>
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <h3>Project Managers Meeting</h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students</td>
      <td>$25</td>
    </tr>
    <tr>
      <td>Non-Members</td>
      <td>$50</td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>CurateCamp</h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>Non-Members</td>
      <td>$100</td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>Taiga Forum</h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students/Non-members</td>
      <td>$115</td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>THATCamp Publishing</h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students/Non-Members</td>
      <td>
        Suggested $20 donation,
        <a href="http://publishing2011.thatcamp.org/register/">registration</a>
        limited to first 75 registrants.
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <h3>METS Board Meeting</h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students/Non-members</td>
      <td>Free</td>
    </tr>
  </tbody>
</table>
