---
title: 'Schedule'
layout: page.njk
eleventyNavigation:
  key: Schedule
  order: 1
---

<h2 class="bigred">DLF Forum 2011: Schedule</h2>
<div>
  <p>
    <em
      >To view session resources, click on the title. Resources will be on each
      session page under “Session Resources.” We will continue to add resources
      as they are made available.</em
    >
  </p>
  <p>
    The 2011 DLF Fall Forum will be held at the
    <a href="http://baltimore.hyatt.com/hyatt/hotels/">Hyatt Regency</a> in
    Baltimore, MD from the morning of Monday, October 31 through the afternoon
    of Tuesday, November 1. Please note that the schedule below is still subject
    to change. To view detailed information on a session, click the title.
  </p>
  <p>
    Pre- and post-conference events will take place on Sunday, October 30;
    Wednesday, November 2; and Thursday, November 3.
  </p>
  <p>
    For details on registration, please see our
    <a href="{{ '/registration/' | url }}">Registration</a>
    page. Please visit the
    <a href="{{ '/travel-accommodations/' | url }}"
      >Travel &amp; Accommodations</a
    >&nbsp;page for more information on hotel reservations and travel to the
    hotel.
  </p>
  <p>
    View the
    <a
      href="http://baltimore.hyatt.com/hyatt/images/hotels/bwirb/floorplan.pdf;jsessionid=56BE7B4983EE50CDA1A88D798F4DD8E1.atg05-prd-atg3"
      >Hyatt floor plan</a
    >
    to see the layout of the session meeting rooms.
  </p>
</div>

<div class="dlfschedule">
  <div class="dlfs-date fs-3 border-bottom py-3">Sunday, October 30, 2011</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8-9am</div>
    <div class="dlfs-title col">THATCamp Breakfast</div>
    <div class="dlfs-room col">Harborview</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/thatcamp-publishing/' | url }}"
        >THATCamp Publishing</a
      >
    </div>
    <div class="dlfs-room col">Constellation A</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>
  <div class="dlfs-date fs-3 border-bottom py-3">Monday, October 31, 2011</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">7-8:30am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Harborview</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Foyer</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8:45-10am</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/keynote/' | url }}">David Weinberger</a>
    </div>
    <div class="dlfs-room col">Constellation B</div>
    <div class="dlfs-type col">Keynote Address</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10-10:30am</div>
    <div class="dlfs-title col">Break and Snacks</div>
    <div class="dlfs-room col">Atrium Lobby</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/a-digital-library-for-everyone-designing-for-collaboration-and-innovation/'
            | url
        }}"
        >A Digital Library for Everyone: Designing for Collaboration and
        Innovation</a
      >
    </div>
    <div class="dlfs-room col">Constellation B</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/digital-curation-data-management-digital-preservation-sustainability-are-we-clear-yet/'
            | url
        }}"
        >Digital Curation, Data Management, Digital Preservation,
        Sustainability: Are We Clear Yet?</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30−11:15am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/kuali-ole-a-look-at-our-software-deliverables-roadmap-one-year-on/'
            | url
        }}"
        >Kuali OLE: A Look at our Software Deliverables Roadmap One Year On</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30-11:15am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/digital-preservation-cloud-services-for-libraries-and-archives/'
            | url
        }}"
        >Digital Preservation Cloud Services for Libraries and Archives</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Short Paper</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">11:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/archivesspace-an-open-source-next-generation-archives-management-system/'
            | url
        }}"
        >ArchivesSpace: An Open-Source, Next-Generation Archives Management
        System</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">11:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{ '/schedule/hubzero-modifications-and-implementation/' | url }}"
        >HUBzero Modifications and Implementation</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Short Paper</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">Noon-2:00pm</div>
    <div class="dlfs-title col">
      Lunch and
      <a href="{{ '/schedule/community-showcase/' | url }}"
        >Community Showcase</a
      >
    </div>
    <div class="dlfs-room col">Constellation A &amp; Foyer</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/ezid-persistent-identifiers-and-data-citation/' | url
        }}"
        >EZID: Persistent Identifiers and Data Citation</a
      >
    </div>
    <div class="dlfs-room col">Constellation B</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/new-modes-of-publishing/' | url }}"
        >New Modes of Publishing</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/improving-institutional-repository-search-engine-visibility-in-google-and-google-scholar/'
            | url
        }}"
        >Improving Institutional Repository Search Engine Visibility in Google
        and Google Scholar</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3 pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/generic-open-source-solutions-for-managing-manuscripts-a-z/'
            | url
        }}"
        >Generic Open-Source Solutions for Managing Manuscripts A-Z</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/establishing-data-management-services-the-johns-hopkins-university-libraries-approach/'
            | url
        }}"
        >Establishing Data Management Services: The Johns Hopkins University
        Libraries’ Approach</a
      >
    </div>
    <div class="dlfs-room col">Constellation F</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">3-3:30pm</div>
    <div class="dlfs-title col">Break and drinks</div>
    <div class="dlfs-room col">Atrium Lobby</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30-5pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/public-service-for-large-scale-digital-collections/' | url
        }}"
        >Public Service for Large-Scale Digital Collections</a
      >
    </div>
    <div class="dlfs-room col">Constellation F</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30-4:15pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/udfr-a-semantic-registry-for-format-representation-information/'
            | url
        }}"
        >UDFR: A Semantic Registry for Format Representation Information</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30-4:15pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/hypatia-research-early-developments-on-a-platform-for-managing-born-digital-archival-materials/'
            | url
        }}"
        >Hypatia: Research &amp; Early Developments on a Platform for Managing
        Born Digital Archival Materials</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:15-5pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/designing-and-implementing-effective-digitization-workflows/'
            | url
        }}"
        >Designing and Implementing Effective Digitization Workflows</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Short Paper</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:15-5pm</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/civil-war-150-notes-toward-a-linked-data-case-study/' | url
        }}"
        >Civil War 150: Notes Toward a Linked Data Case Study</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:15-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/born-digital-an-archival-approach/' | url }}"
        >Born Digital: An Archival Approach</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">5-7:30pm</div>
    <div class="dlfs-title col">Reception</div>
    <div class="dlfs-room col">Atrium Lobby</div>
  </div>
  <div class="dlfs-date fs-3 border-bottom py-3">Tuesday, November 1, 2011</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">7-8:30am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Harborview</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Foyer</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">8:30-10am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/getting-the-most-out-of-datanet-a-panel-discussion-of-the-nsf-funded-datanet-partnerships/'
            | url
        }}"
        >Getting the Most Out of DataNet: A Panel Discussion of the NSF Funded
        DataNet Partnerships</a
      >
    </div>
    <div class="dlfs-room col">Constellation B</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">8:30-10am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/training-librarians-and-staff-for-the-new-data-environment/'
            | url
        }}"
        >Training Librarians and Staff for the New Data Environment</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">8:30-10am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/towards-a-new-agenda-for-humanities-data-curation/' | url
        }}"
        >Towards A New Agenda for Humanities Data Curation</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">8:30-10am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/workshop-on-web-accessibility-in-digital-libraries/' | url
        }}"
        >Workshop on Web Accessibility in Digital Libraries</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Workshop</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10-10:30am</div>
    <div class="dlfs-title col">Break and Snacks</div>
    <div class="dlfs-room col">Atrium Lobby</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/supporting-digital-humanities-in-the-library/' | url
        }}"
        >Supporting Digital Humanities in the Library</a
      >
    </div>
    <div class="dlfs-room col">Constellation B</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/agile-methodology-innovation-and-quality-for-digital-library-projects/'
            | url
        }}"
        >Agile Methodology, Innovation, and Quality for Digital Library
        Projects</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Presentation</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/moving-forward-examining-the-need-to-re-tool-lams-data/'
            | url
        }}"
        >Moving Forward: Examining the Needs to Re-tool the LAMs Data</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Workshop</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:30-11:15am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/national-status-of-data-management-the-datares-and-clirsloan-research-projects-on-data-management-policies-and-practices/'
            | url
        }}"
        >National Status of Data Management: The DataRes and CLIR/Sloan Research
        Projects on Data Management Policies and Practices</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">11:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/schedule/business-case-planning-for-research-support-services-a-progress-report/'
            | url
        }}"
        >Business Case Planning for Research Support Services: A Progress
        Report</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Research Update</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">Noon-2:00pm</div>
    <div class="dlfs-title col">
      Lunch,
      <a href="{{ '/schedule/birds-of-a-feather-sign-up/' | url }}"
        >Birds of a Feather Sessions</a
      >
    </div>
    <div class="dlfs-room col">Constellation A &amp; Foyer</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/strategies-for-video-film-digitization/' | url }}"
        >Strategies for Video &amp; Film Digitization</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/data-management-planning-tool/' | url }}"
        >Data Management Planning Tool</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Workshop</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/linked-data-hands-on-how-to/' | url }}"
        >Linked Data: Hands on How-To</a
      >
    </div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Workshop</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">3-3:30pm</div>
    <div class="dlfs-title col">Break and Drinks</div>
    <div class="dlfs-room col">Atrium Lobby</div>
  </div>
  <div class="dlfs-date fs-3 border-bottom py-3">
    Wednesday, November 2, 2011
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">7-8:30am</div>
    <div class="dlfs-title col">
      CurateCamp, Project Managers, Taiga Forum Breakfast
    </div>
    <div class="dlfs-room col">Harborview</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-headline fs-4 my-2">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">8-10am</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/tei-sig-meeting/' | url }}">TEI SIG Meeting</a>
    </div>
    <div class="dlfs-room col">Constellation F</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-noon</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/project-managers-meeting/' | url }}"
        >Project Managers Meeting</a
      >
    </div>
    <div class="dlfs-room col">Constellation D</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/schedule/curatecamp-catalogers-coders/' | url }}"
        >CURATECamp: Catalogers &amp; Coders</a
      >
    </div>
    <div class="dlfs-room col">Constellation C</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">Taiga Forum</div>
    <div class="dlfs-room col">Constellation E</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30-5pm</div>
    <div class="dlfs-title col">METS Board Meeting</div>
    <div class="dlfs-room col">Conway Room</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">Noon-2pm</div>
    <div class="dlfs-title col">Project Managers, Taiga Forum Lunch</div>
    <div class="dlfs-room col">Harborview</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
  <div class="dlfs-date fs-3 border-bottom py-3">
    Thursday, November 3, 2011
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8:30am-noon</div>
    <div class="dlfs-title col">METS Board Meeting</div>
    <div class="dlfs-room col">Conway Room</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>
</div>
