---
title: 'Sponsorship'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2 class="bigred">DLF Forum 2011: Sponsorship</h2>

<p>
  If your organization would like to help sponsor the 2011 DLF Forum, please
  select a sponsorship level and amount, and email: jwinberry
  <strong>at</strong> clir <strong>dot</strong> org. (Please substitute normal
  e-mail characters for “at” and “dot” in this address.)
</p>
<h2>Bronze ($2750-$4999)</h2>
<p>
  Name in program and on the 2011 DLF Forum Web page as a bronze sponsor,
  acknowledgment from the podium.
</p>
<h2>Silver ($5000-$9999)</h2>
<p>
  Name in program as a silver sponsor, official organizational logo on the 2011
  DLF Forum Web page (with an active link to sponsors official Web site),
  acknowledgment from the podium.
</p>
<h2>Gold ($10,000-$14,999)</h2>
<p>
  Name in program as a gold sponsor, medium official organizational logo on the
  2011 DLF Forum Web page (with an active link to sponsor’s official Web site),
  acknowledgment from the podium at the opening and closing of the conference,
  one free conference registration.
</p>
<h2>Platinum ($15,000 and above)</h2>
<p>
  Name in program as a platinum sponsor, large official organizational logo on
  the 2011 DLF Forum Web page (with an active link to sponsor’s official Web
  site), acknowledgment from the podium at the opening and closing of the
  conference, two free conference registrations.
</p>
