---
title: 'Travel & Accommodations'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2 class="bigred">DLF Forum 2011: Travel & Accommodations</h2>

<div class="entry">
  <h2>Conference Hotel Information</h2>
  <p>
    <a href="http://www.baltimore.hyatt.com/hyatt/hotels/index.jsp"
      >Hyatt Regency, Baltimore</a
    ><br />
    300 Light Street<br />
    Baltimore, MD 21202<br />
    Phone: 1-410-528-1234<br />
    Fax: 1-410-685-3362
  </p>
  <p>
    Please make your reservations early. A special group rate of $185/night
    (single or double) has been arranged for a limited number of rooms at the
    conference hotel
    <strong>Sunday (10/30) through Wednesday (11/2) nights</strong>. If you
    would like to book a room for Saturday (10/29) night, it will be at the best
    available rate, as it is outside our block. In addition, in-room high-speed
    Internet will be offered at a discount rate of $4.99 to conference
    participants. Wifi is free in all hotel common areas.
  </p>
  <p>
    You may
    <a
      href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&amp;eventID=3260995"
      >reserve a discounted room online</a
    >, or you may reserve by phone (888-421-1442). If reserving by phone, please
    mention that you are attending the 2011 Digital Library Federation Fall
    Forum to get the discounted room rate. Once the block is full, the pricing
    of hotel rooms will be the best available rate.
    <strong
      >**Please note the block is now closed and rooms are only available at the
      Hyatt at best available rate.**</strong
    >
    Visit the
    <a
      href="https://web.archive.org/web/20130301080444/http://www.baltimorecity.gov/Visitors.aspx"
      >Baltimore City Visitors Portal</a
    >
    or
    <a href="https://web.archive.org/web/20130301080444/http://baltimore.org/"
      >Baltimore.org</a
    >
    for information on alternative accommodations and area attractions.
  </p>
  <h2>Travel to the Conference Hotel</h2>
  <p>
    <a
      href="https://web.archive.org/web/20130301080444/http://www.bwiairport.com/en"
      >Baltimore Washingtion International Airport</a
    >
    (BWI) is located 10 miles south of the hotel.
  </p>
  <ul>
    <li>
      Take the Super Shuttle from BWI to the Hyatt Regency for a one-way fare of
      $13. Pick-up from BWI is every 30 minutes at the ground transportation
      desk (baggage claim areas 3, 4, and 5). The hours of service are between
      6:00 a.m. and 2:00 a.m.
    </li>
    <li>
      Take the BWI Airport light rail northbound in the direction of Hunt Valley
      or North Ave Station to the Pratt Street Light Rail Station for a one-way
      fare of $1.60. From there, walk east on W. Pratt Street towards S. Howard
      Street, and turn right onto Light Street. The hotel is located 0.4 miles
      from the Pratt Street Light Rail Station.
    </li>
    <li>
      Approximate cost of a taxi from BWI to the Hyatt Regency is $35, and
      should be around 15 minutes depending on traffic.
    </li>
  </ul>
  <p>
    <a
      href="https://web.archive.org/web/20130301080444/http://www.amtrak.com/servlet/ContentServer?pagename=am/am2Station/Station_Page&amp;code=BAL"
      >Baltimore Penn Station</a
    >
    is located 1.6 miles north of the hotel and serves national
    <a
      href="https://web.archive.org/web/20130301080444/http://www.amtrak.com/servlet/ContentServer?pagename=Amtrak/HomePage"
      >Amtrak</a
    >
    lines as well as
    <a
      href="https://web.archive.org/web/20130301080444/http://mta.maryland.gov/marc-train"
      >MARC</a
    >
    commuter rail between Baltimore and Washington, D.C. Please note that MARC
    trains only operate Monday through Friday.
  </p>
  <ul>
    <li>
      Approximate cost of a taxi from Penn Station is $5, and is about 10
      minutes depending on traffic.
    </li>
    <li>
      Take the Baltimore MTA No. 64 bus in the direction of Curtis Bay to Light
      Street and Conway for a one-way fare of $1.60. The hotel is 0.1 miles from
      this bus stop.
    </li>
    <li>
      Take the Baltimore MTA No. 3 bus in the direction of Inner Harbor to
      Charles Street and Pratt Street for a one-way fare of $1.60. Walk south on
      S. Charles Street, turn left onto E. Camden Street, and turn right onto
      Light Street. The hotel is 0.1 miles from the Charles Street and Pratt
      Street bus stop.
    </li>
    <li>
      From the light rail station adjacent to Penn Station, take the light rail
      south bound in the the direction of Dorsey Station to Pratt Street Light
      Rail Station for a one-way fare of $1.60. From there, walk east on W.
      Pratt Street towards S. Howard Street, and turn right onto Light Street.
      The hotel is located 0.4 miles from the Pratt Street Light Rail Station.
    </li>
  </ul>
  <p>
    Some participants may opt to fly into Washington, D.C. via
    <a
      href="https://web.archive.org/web/20130301080444/http://www.metwashairports.com/dulles/dulles.htm"
      >Dulles International Airport</a
    >
    (IAD) or
    <a
      href="https://web.archive.org/web/20130301080444/http://www.metwashairports.com/reagan/reagan.htm"
      >Reagan National Airport</a
    >
    (DCA). The approximate cost of a taxi from Dulles to the conference hotel is
    $80 and from Reagan to the conference hotel is $65.
  </p>
</div>
